<div class="unit-info">
    <div class="calendar-data">
        <div class="data">{{event_date}}</div>
    </div>
    <div class="calendar-info">
        <div>
            <h4 class="title">{{assignment.title}}</h4>
            <span class="since-time">提交截止时间：{{assignment.due_time}}</span>
        </div>
        <div class="description">{{assignment.description}}</div>
    </div>
    <div class="unit-controls">
        <div class="calendar-controls">
            <span class="delete-assignment">删除</span>
            <span class="edit-assignment">编辑</span>
        </div>
        <div class="calendar-type-tag assignment">作业</div>
    </div>
</div>