{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}


{% block title %}
    <title>课程交流平台-日程表</title>
{% endblock title %}

{% block navigator %}
	<ul>
		<li><a href="/discussion">问题讨论</a></li>
		<li class="current"><a href="/calendar">日程表</a></li>
		<li><a href="/resources">资源</a></li>
		<li><a href="/syllabus">教学大纲</a></li>
		<li><a href="#">课堂成员</a></li>
		<li><a href="/assignment">课程作业</a></li>
	</ul>
{% endblock navigator %}

{% block content %}
    <div class="content">
        <div class= "add_operation">
        </div>

        <div id="composer1"></div>
        <div class="head-title">
            <div class="head-title-text">教学日程</div>
        </div>

        <div class="calendar-list"></div>
    </div>
{% endblock content %}

{% block right-side %}

{% endblock right-side %}

{% block page-js %}
    <script>
        ASSIGNMENT_API = "{% url api_dispatch_list api_name="v1" resource_name="assignment" %}";
        CALENDAREVENT_API = "{% url api_dispatch_list api_name="v1" resource_name="calendarevent" %}";
        SCHOOL = "{{ request.session.school.0 }}";
        COURSE = "{{ request.session.course.0 }}";
        PARTICIPANT = "{{ request.session.participant.0 }}";
        {% if data %}
            app = {loaded: true};
        {% endif %}
    </script>

    <script type="text/html" id="EventEditor">
        {% straight_include "calendar/EventEditor.mustache" %}
    </script>

    <script type="text/html" id="AssignmentEvent">
        {% straight_include "calendar/AssignmentEvent.mustache" %}
    </script>

    <script type="text/html" id="ExamEvent">
        {% straight_include "calendar/ExamEvent.mustache" %}
    </script>

    <script type="text/html" id="MeetingEvent">
        {% straight_include "calendar/MeetingEvent.mustache" %}
    </script>

    <script src="{{ STATIC_URL }}js/canvas/vendor/date.js"></script>
    <script src="{{ STATIC_URL }}js/course_calendar.js"></script>
{% endblock page-js %}