<div class="type-selector">
    <div id="type">
        <div id="c-wrap">
            <ul id="c-select" class="selector">
                <li class="c-title">添加:</li>

                <li class="b-assignment " style="padding:0px">
                    <button class="res-icon-label link_btn assignment-opt">作业</button>
                </li>
                <li class="b-exam" style="padding:0px">
                    <button class="res-icon-label link_btn exam-opt">考试</button>
                </li>
                <li class="b-meeting" style="padding:0px">
                    <button class="res-icon-label  link_btn meeting-opt">班级会议</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="compose-event assignment-panel" style="display:none">
    <div class="header">
        <h3>布置作业</h3>
    </div>
    <div class="popup-main">
        <h4>标题*</h4>
        <input type="text" size="60"/>

        <div>
            <div class="due-date">
                <h4>截止日期*</h4>
                <input type="text" size="14" />
                <input type="text" size="14" />
            </div>
            <div class="submison-type">
                <h4>提交类型*</h4>
                <select>
                    <option>文件</option>
                    <option>链接</option>
                    <option>课堂提交</option>
                    <option>不用提交</option>
                </select>
            </div>
            <div class="category">
                <h4>作业性质*</h4>
                <select>
                    <option>自测（不评分）</option>
                    <option>普通作业</option>
                    <option>考试</option>
                    <option>小测验</option>
                </select>
            </div>
            <div class="grade-setting">
                <h4>评分设置</h4>
                <div>
                    X/<input type="text" size="3" />
                </div>
            </div>
            <div class="clear">
            </div>
        </div>

        <h4>作业说明</h4>
        <textarea cols="80" rows="8"></textarea>

        <div class="resource">
            <h4 style="float:left">相关资源</h4>
            <div class="resource-operation">添加资源 +</div>
            <div class="clear" ></div>
        </div>

        <h4>事件设置 </h4>
        <span style="margin-right:20px;">
            <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">立即发布</label>
        </span>
        <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">定时发布：</label>
        <input type="text" size="14"/>
        <input type="text" size="14"/>
    </div>
    <div class="popup-footer">
        <input type="checkbox" style="vertical-align:middle"/> <labelstyle="vertical-align:middle">通知学生</label>

        <button class="save">保存</button>
        <button class="cancel">取消</button>
    </div>
</div>


<div class="compose-event exam-panel" style="display:none">
    <div class="header">
        <h3>考试安排</h3>
    </div>

    <div class="popup-main">
        <div style="float:left; margin-right:35px;">
            <h4>标题*</h4>
            <input type="text" size="50"/>
        </div>
        <div style="float:left;">
            <h4>地点</h4>
            <input type="text" size="35"/>
        </div>

        <div>
            <div class="due-date">
                <h4>日期*</h4>
                <input type="text" size="14" />
            </div>
            <div class="start-time">
                <h4>开始时间</h4>
                <input type="text" size="14" />
            </div>
            <div class="end-time">
                <h4>开始时间</h4>
                <input type="text" size="14" />
            </div>

            <div class="clear">
            </div>
        </div>

        <h4>考试说明</h4>
        <textarea cols="80" rows="8"></textarea>

        <div class="resource">
            <h4 style="float:left">相关资源</h4>
            <div class="resource-operation">添加资源 +</div>
            <div class="clear" ></div>
        </div>

        <h4>事件设置 </h4>
        <span style="margin-right:20px;">
            <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">立即发布</label>
        </span>
        <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">定时发布：</label>
        <input type="text" size="14"/>
        <input type="text" size="14"/>
    </div>

    <div class="popup-footer">
        <input type="checkbox" style="vertical-align:middle"/> <labelstyle="vertical-align:middle">通知学生</label>
        <button class="save">保存</button>
        <button class="cancel">取消</button>
    </div>
</div>

<div class="compose-event meeting-panel" style="display:none">
    <div class="header">
        <h3>会议安排</h3>
    </div>
    <div class="popup-main">
        <div style="float:left; margin-right:35px;">
            <h4>标题*</h4>
            <input type="text" size="50"/>
        </div>
        <div style="float:left;">
            <h4>地点</h4>
            <input type="text" size="35"/>
        </div>

        <div>
            <div class="due-date">
                <h4>日期*</h4>
                <input type="text" size="14" />
            </div>
            <div class="start-time">
                <h4>开始时间</h4>
                <input type="text" size="14" />
            </div>
            <div class="end-time">
                <h4>开始时间</h4>
                <input type="text" size="14" />
            </div>
            <div class="category">
                <h4>类型*</h4>
                <select>
                    <option>讲座</option>
                    <option>考试复习</option>
                    <option>其他</option>
                </select>
            </div>
            <div class="clear">
            </div>
        </div>

        <h4>会议说明</h4>
        <textarea cols="80" rows="8"></textarea>

        <div class="resource">
            <h4 style="float:left">相关资源</h4>
            <div class="resource-operation">添加资源 +</div>
            <div class="clear" ></div>
        </div>

        <h4>事件设置 </h4>
        <span style="margin-right:20px;">
            <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">立即发布</label>
        </span>
        <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">定时发布：</label>
        <input type="text" size="14"/>
        <input type="text" size="14"/>
    </div>

    <div class="popup-footer">
        <input type="checkbox" style="vertical-align:middle"/> <labelstyle="vertical-align:middle">通知学生</label>
        <button class="save">保存</button>
        <button class="cancel">取消</button>
    </div>
</div>