<div class="unit-info">
    <div class="calendar-data">
        <div class="data">{{event_date}}</div>
    </div>
    <div class="calendar-info">
        <div>
            <h4 class="title">{{exam.title}}</h4>
            <span class="since-time">{{exam.start_time}} - {{exam.end_time}}</span>
        </div>
        <div class="description">{{exam.description}}</div>
    </div>
    <div class="unit-controls">
        <div class="calendar-controls">
            <span class="delete-exam">删除</span>
            <span class="edit-exam">编辑</span>
        </div>
        <div class="calendar-type-tag exam">考试</div>
    </div>
</div>
