<div class="unit-info">
    <div class="calendar-data">
        <div class="data">{{event_date}}</div>
    </div>
    <div class="calendar-info">
        <div>
            <h4 class="title">{{meeting.title}}</h4>
            <span class="since-time">{{meeting.start_time}} - {{meeting.end_time}}</span>
        </div>
        <div class="description">{{meeting.description}}</div>
    </div>
    <div class="unit-controls">
        <div class="calendar-controls">
            <span class="delete-meeting">删除</span>
            <span class="edit-meeting">编辑</span>
        </div>
        <div class="calendar-type-tag meeting">班级会议</div>
    </div>
</div>
