<div class="slidedown-main">
	<div id="comment-editor">
		<textarea id="new-comment-content"></textarea>
		<div id="comment-submit"><button type="submit" class="comment-submit">Post</button></div>
	</div>

    <div class="comments"></div>
	<div class="div-view-all">
        	<a href="#" class="view-all">查看全部评论</a>
    </div>
</div>