<div class="popup-main">
    <div>
        <div class="post">
            <div class="post-info">
                <div class="img"></div>
                <div class="post-author-time">
                    <div class="post-author">{{creator.username}}</div>
                    <div class="post-time">{{ctime}}</div>
                </div>
                <div class="like">
                    <div class="like-button">赞</div>
                </div>
            </div>
            <div class="post-detail">{{&content}}</div>
        </div>
    </div>

	<div id="comment-editor">
		<textarea id="new-comment-content"></textarea>
		<div id="comment-submit"><button type="submit" class="comment-submit">Post</button></div>
	</div>

    <div class="comments"></div>

</div>