<div class="comment-block">
	<div class="info">
		<div class="img"></div>
		<div class="author-time">
			<div class="author">{{creator.username}}</div>
			<div class="time">{{ctime}}</div>
		</div>
		<div class="operation"><a href="#" class='delete-comment'>删除</a></div>
	</div>
	<div class="comment-content">{{content}}</div>
</div>