<div id="composer-form">
    <div id="c-wrap">
        <ul id="c-select" class="buttons">
            <li class="c-title">新帖:</li>
            <li class="sel b-text c-button">
                <a href="#" data-type="text">
                    <span class="composer-icon"></span>
                    <span class="composer-icon-label">通知</span>
                </a>
            </li>
            <li class="b-link c-button">
                <a href="#" data-type="link">
                    <span class="composer-icon"></span>
                    <span class="composer-icon-label">链接</span>
                </a>
            </li>
            <li class="b-file c-button">
                <a href="#" data-type="file">
                    <span class="composer-icon"></span>
                    <span class="composer-icon-label">文件</span>
                </a>\n
            </li>
            <li class="b-question c-button">
                <a href="#" data-type="question">
                    <span class="composer-icon"></span>
                    <span class="composer-icon-label">问题</span>
                </a>
            </li>
        </ul>
    </div>
    <span id="'+_uid_1222+'" class="nodisplay">
         <textarea cols="88" rows="10" id="textContent" name="textContent"></textarea>
    </span>
    <span id="'+_uid_1223+'" class="nodisplay">

    </span>
    <span id="'+_uid_1224+'" class="nodisplay">

    </span><span id="'+_uid_1225+'" class="nodisplay">

    </span>
    <!-- Composer footer -->
    <div class="c-footer">
        <div>
            <span id="'+_uid_1228+'" class="nodisplay">
            标签
            </span>
            <div class="composer-controls">
                <button type="submit" class="b-submit">Post</button>
            </div>
        </div>
        <span id="'+_uid_1229+'" class="nodisplay">
        </span>
    </div>
</div>