<div class="post-info">
	<div class="post-time">
		{{ctime}}
	</div>
	<div class="post-content">
	   {{&content}}
	</div>
	<div class="post-operation">
		<a href="#">赞</a> <span class="like-num">2</span><br>
		<a class="show-comment" href="#">评论</a> <span class="comment-num">{{comment_count}}</span><br>
		<a class="delete" href="#">删除</a><br>
		<a href="#">置顶</a><br>
	</div>
</div>

<div class="comment-panel" style="display:none"><div>