{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}


{% block title %}
    <title>课程交流平台-问题讨论</title>
{% endblock %}

{% block page-css %}
    <link href="{{ STATIC_URL }}css/g_instructure.css" type="text/css" rel="stylesheet" media="all" >
    <link href="{{ STATIC_URL }}css/tiny_like_ck_with_external_tools.css" type="text/css" rel="stylesheet" media="all" >
    <link href="{{ STATIC_URL }}js/canvas/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}js/canvas/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/content.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}js/canvas/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block navigator %}
	<ul>
		<li class="current"><a href="/discussion">问题讨论</a></li>
		<li><a href="/calendar">日程表</a></li>
		<li><a href="/resources">资源</a></li>
		<li><a href="/syllabus">教学大纲</a></li>
		<li><a href="#">课堂成员</a></li>
		<li><a href="/assignment">课程作业</a></li>
	</ul>
{% endblock navigator %}

{% block content %}
    <div class="content">
        <div id="composer"></div>
        <div class="postArea"></div>
        <div class="paginator"></div>
    </div>
{% endblock %}

{% block right-side %}

{% endblock right-side %}

{% block popup %}
	<div class="view-all-panel" style="display:none">
		<div id="close">
			<div id="close-text">X</div>
		</div>
		<div class="popup-comment" >
		</div>
	</div>
{% endblock %}

{% block page-js %}
    <script>
        INST = {};
        ENV = {};
        require = {
            translate: false,
            baseUrl: '{{ STATIC_URL }}js/canvas',
            paths: {
                jquery: 'vendor/jquery-1.6.4',
                jqueryui: 'vendor/jqueryui'
            },
            waitSeconds: 15
        };
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/require.js"></script>

    <script>
        POST_API = "{% url api_dispatch_list api_name="v1" resource_name="post" %}";
        COMMENT_API =  "{% url api_dispatch_list api_name="v1" resource_name="comment" %}";
        SCHOOL = "{{ request.session.school.0 }}";
        COURSE = "{{ request.session.course.0 }}";
        PARTICIPANT = "{{ request.session.participant.0 }}";
        {% if data %}
            app = {loaded: true};
        {% endif %}
    </script>

    <script type="text/template" id="paginationTemplate">
        {% straight_include "discussion/pagination.tpl" %}
    </script>

    <script type="text/html" id="postEditor">
        {% straight_include "discussion/postEditor.mustache" %}
    </script>

    <script type="text/html" id="postAbsTemplate">
        {% straight_include "discussion/postAbsTemplate.mustache" %}
    </script>

    <script type="text/html" id="commentPopup">
        {% straight_include "discussion/commentPopup.mustache" %}
    </script>

	<script type="text/html" id="commentSlideDown">
		{% straight_include "discussion/commentSlideDown.mustache" %}
	</script>

    <script type="text/html" id="commentTemplate">
        {% straight_include "discussion/commentTemplate.mustache" %}
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/post_list.js"></script>
{% endblock %}