<div class="compose-syllabus edit-syllabus-panel" style="display:none">
	<div class="syllabus-header">
		<span id="header-text">编辑内容</span>
	</div>
	<div class="syllabus-title">
		<div id="title-text">标题*</div>
		<div class="title-input">
			<input type="text" id="title"/>
		</div>
	</div>
	<div class="syllabus-content">
		<div id="content-text">描述</div>
		<div class="content-area">
			<textarea id="textContent" name="textContent" wrap="physical"></textarea>
		</div>
	</div>

    <!-- Composer footer -->
    <div id="c-footer">
		<div class="syllabus-controls">
			<button class="save-modify b-control">保存</button>
			<button class="cancel-modify b-control">取消</button>
		</div>
    </div>
</div>

<div class="syllabus-unit">
    <div class="syllabus-title">{{title}}</div>
    <div class="unit-controls"><a href="#" class='delete-syllabus'>删除</a> <a href="#" class='edit-syllabus'>编辑</a></div>
    <div class="syllabus-content"></div>
</div>
