{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}


{% block title %}
	<title>课程交流平台-教学大纲</title>
{% endblock %}

{% block navigator %}
	<ul>
		<li><a href="/discussion">问题讨论</a></li>
		<li><a href="/calendar">日程表</a></li>
		<li><a href="/resources">资源</a></li>
		<li class="current"><a href="/syllabus">教学大纲</a></li>
		<li><a href="#">课堂成员</a></li>
		<li><a href="/assignment">课程作业</a></li>
	</ul>
{% endblock navigator %}

{% block content %}
	<div class="content">
		<div class= "add_operation"></div>
		<div id="composer1"></div>
		<div class="head-title" style="padding: 0px;">
			<div class="head-title-text"  style="padding: 0px; margin: 0px;">教学大纲</div>
		</div>

		<div class="syllabus-list">
		</div>

	</div>

{% endblock content %}


{% block page-js %}
	<script>
		SYLLABUS_API = "{% url api_dispatch_list api_name="v1" resource_name="syllabus" %}";
		SCHOOL = "{{ request.session.school.0 }}";
		COURSE = "{{ request.session.course.0 }}";
		PARTICIPANT = "{{ request.session.participant.0 }}";
		{% if data %}
			app = {loaded: true};
		{% endif %}
	</script>

	<script type="text/html" id="SyllabusEditor">
		{% straight_include "syllabus/SyllabusEditor.mustache" %}
	</script>

	<script type="text/html" id="SyllabusUnit">
		{% straight_include "syllabus/SyllabusUnit.mustache" %}
	</script>

	<script src="{{ STATIC_URL }}js/syllabus.js"></script>

{% endblock page-js%}
