<div class="type-selector">
	<div id="type">
		<div id="c-wrap">
			<ul id="c-select" class="selector">
				<li class="c-title">添加:</li>

				<li class="syllabus-text-opt link_btn">
					<a href="#" res-type="text">
						<span class="res-icon-label">大纲</span>
					</a>
				</li>
				<li class="syllabus-file-opt link_btn">
					<form method="post">
						<a class="b_addFile" href="javascript:void(0);"><span>文件</span>
                    		<input class="filePre" tabIndex="3" name="pic" size="3" type="file">
                    	</a>
                    </form>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="compose-syllabus new-syllabus-panel" style="display:none">
	<div class="syllabus-header">
		<span id="header-text">新内容</span>
	</div>
	<div class="syllabus-title">
		<div id="title-text">标题*</div>
		<div class="title-input">
			<input type="text" id="title"/>
		</div>
	</div>
	<div class="syllabus-content">
		<div id="content-text">描述</div>
		<div class="content-area">
			<textarea id="textContent" name="textContent" wrap="physical"></textarea>
		</div>
	</div>

    <!-- Composer footer -->
    <div id="c-footer">
		<div class="syllabus-controls">
			<button class="save b-control">保存</button>
			<button class="cancel b-control">取消</button>
		</div>
    </div>
</div>