/* line 3, ../../../app/stylesheets/g_instructure.sass */
#instructure_ajax_error_box {
  display: none;
  position: fixed;
  top: 10px;
  left: 50px;
  z-index: 9999;
  background-color: white;
  border: 2px solid #888888; }

/* line 12, ../../../app/stylesheets/g_instructure.sass */
#instructure_ajax_error_result {
  width: 600px;
  height: 300px;
  overflow: auto; }

/* line 17, ../../../app/stylesheets/g_instructure.sass */
#flash_message_holder {
  position: fixed;
  top: -5px;
  z-index: 9999;
  width: 100%;
  height: 0; }
  /* line 23, ../../../app/stylesheets/g_instructure.sass */
  #flash_message_holder a {
    color: #dddddd; }

/* line 25, ../../../app/stylesheets/g_instructure.sass */
#flash_message_wrapper {
  width: 350px;
  max-height: 200px;
  margin: auto; }

/* line 30, ../../../app/stylesheets/g_instructure.sass */
body.no-headers #flash_message_wrapper {
  width: 100%; }

/* line 33, ../../../app/stylesheets/g_instructure.sass */
#flash_notice_message, #flash_error_message {
  text-align: center;
  background-color: #308b4f;
  color: white;
  font-weight: bold;
  overflow: auto;
  padding: 6px 30px 4px 15px;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  position: relative; }
  /* line 43, ../../../app/stylesheets/g_instructure.sass */
  #flash_notice_message a.close-link, #flash_error_message a.close-link {
    position: absolute;
    right: 4px;
    top: 8px; }

/* line 48, ../../../app/stylesheets/g_instructure.sass */
#flash_error_message {
  background-color: #b4302d; }

/* line 52, ../../../app/stylesheets/g_instructure.sass */
.user_content, .mceContentBody {
  position: relative;
  min-height: 5px; }
  /* line 55, ../../../app/stylesheets/g_instructure.sass */
  .user_content h3, .mceContentBody h3 {
    margin-top: 1em;
    margin-bottom: 1em; }
  /* line 58, ../../../app/stylesheets/g_instructure.sass */
  .user_content table, .mceContentBody table {
    margin-left: 5px; }
    /* line 60, ../../../app/stylesheets/g_instructure.sass */
    .user_content table td, .mceContentBody table td {
      padding: 2px; }
      /* line 62, ../../../app/stylesheets/g_instructure.sass */
      .user_content table td p, .mceContentBody table td p {
        margin-bottom: 0; }
  /* line 66, ../../../app/stylesheets/g_instructure.sass */
  .user_content .enhanceable_content.ui-accordion .ui-accordion-header, .mceContentBody .enhanceable_content.ui-accordion .ui-accordion-header {
    margin-bottom: 1px; }

/* line 68, ../../../app/stylesheets/g_instructure.sass */
.user_content .user_content_iframe {
  border: 0;
  padding: 0;
  margin: 0; }

/* line 72, ../../../app/stylesheets/g_instructure.sass */
.reminder, .reminder-content {
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 20px;
  clear: both;
  font-size: 0.9em; }
  /* line 78, ../../../app/stylesheets/g_instructure.sass */
  .reminder h2, .reminder-content h2 {
    margin-top: 0;
    background-color: #eeeeee;
    text-transform: uppercase;
    color: #224488;
    padding: 0px 10px;
    border-bottom: 1px solid #aaaaaa;
    font-size: 1.2em;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
  /* line 87, ../../../app/stylesheets/g_instructure.sass */
  .reminder .body, .reminder-content .body {
    width: auto;
    padding: 5px 10px; }

/* line 92, ../../../app/stylesheets/g_instructure.sass */
#floating_reminders {
  cursor: move;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: #ffee88;
  border: 2px solid #fbad00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 300px;
  z-index: 2; }
  /* line 103, ../../../app/stylesheets/g_instructure.sass */
  #floating_reminders a {
    font-weight: bold;
    cursor: pointer; }

/* line 111, ../../../app/stylesheets/g_instructure.sass */
#right-side h2 .small_link {
  font-size: 0.6em;
  font-family: arial, sans-serif; }
/* line 115, ../../../app/stylesheets/g_instructure.sass */
#right-side h4.item_list_header {
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 1px solid #888888;
  margin: 0; }
/* line 120, ../../../app/stylesheets/g_instructure.sass */
#right-side ul.item_list {
  margin-top: 0;
  list-style-type: none;
  padding-left: 15px; }
  /* line 124, ../../../app/stylesheets/g_instructure.sass */
  #right-side ul.item_list.limit_height {
    max-height: 150px;
    overflow: auto; }
/* line 128, ../../../app/stylesheets/g_instructure.sass */
#right-side p {
  margin-top: 0;
  margin-bottom: 1em; }
/* line 131, ../../../app/stylesheets/g_instructure.sass */
#right-side table.summary {
  margin: 5px 0px;
  width: 100%; }
  /* line 134, ../../../app/stylesheets/g_instructure.sass */
  #right-side table.summary td, #right-side table.summary tbody th {
    background-color: #e6e7e9; }
/* line 138, ../../../app/stylesheets/g_instructure.sass */
#right-side table.notifications {
  border-top: 2px solid #999999;
  border-collapse: collapse; }
  /* line 142, ../../../app/stylesheets/g_instructure.sass */
  #right-side table.notifications tr {
    border-color: #999999; }
    /* line 145, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.notifications tr td {
      border-color: #999999;
      border-bottom: 2px solid #999999; }
/* line 151, ../../../app/stylesheets/g_instructure.sass */
#right-side table.courses {
  width: 100%; }
  /* line 153, ../../../app/stylesheets/g_instructure.sass */
  #right-side table.courses td {
    padding: 5px 5px 10px 10px;
    background-color: #eeeeee;
    color: #888888; }
    /* line 158, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.courses td .name {
      font-size: 1.5em;
      font-weight: bold; }
    /* line 162, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.courses td .links {
      font-size: 0.8em;
      text-align: center; }
    /* line 165, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.courses td a {
      text-decoration: none;
      color: #444444; }
      /* line 169, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.courses td a:hover {
        text-decoration: underline; }
/* line 172, ../../../app/stylesheets/g_instructure.sass */
#right-side .events_list {
  margin-bottom: 20px; }
  /* line 174, ../../../app/stylesheets/g_instructure.sass */
  #right-side .events_list .event-list-view-calendar {
    float: right;
    font-size: 0.8em;
    opacity: 0;
    -ms-filter: alpha(Opacity=0);
    filter: alpha(Opacity=0); }
  /* line 178, ../../../app/stylesheets/g_instructure.sass */
  #right-side .events_list:hover .event-list-view-calendar, #right-side .events_list:focus .event-list-view-calendar {
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(Opacity=100); }
/* line 181, ../../../app/stylesheets/g_instructure.sass */
#right-side table.assignments {
  width: 100%; }
  /* line 184, ../../../app/stylesheets/g_instructure.sass */
  #right-side table.assignments td {
    background-color: #dddddd;
    padding: 0.1em 0.5em;
    font-size: 1.1em; }
    /* line 189, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.assignments td a {
      color: #333333;
      text-decoration: none; }
      /* line 193, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments td a:hover {
        text-decoration: underline; }
    /* line 196, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.assignments td.grade {
      width: 60px;
      text-align: center;
      font-weight: bold;
      background-color: #aaaaaa;
      font-style: italic;
      font-size: 0.6em;
      padding-bottom: 3px; }
      /* line 205, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments td.grade.graded {
        background-color: #bbbbbb;
        color: black; }
      /* line 209, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments td.grade .total {
        margin: 0;
        padding: 0; }
      /* line 213, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments td.grade .grade {
        display: block;
        line-height: 1;
        margin: 0.3em 0px 0.1em 0px;
        padding: 0;
        font-size: 1.5em;
        font-style: normal; }
    /* line 221, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.assignments td.date {
      width: 60px;
      text-align: center;
      font-weight: bold;
      background-color: #333333;
      color: #aaaaaa;
      font-style: italic;
      font-size: 0.6em;
      padding-bottom: 3px; }
      /* line 231, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments td.date .duedate {
        display: block;
        line-height: 1;
        margin: 0.2em 0px 0.1em 0px;
        padding: 0;
        font-size: 1.5em;
        color: white;
        font-style: normal; }
    /* line 240, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.assignments td.today {
      background-color: #fbad00;
      color: #333333; }
      /* line 244, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments td.today .duedate {
        background-color: #fbad00;
        color: #333333; }
  /* line 248, ../../../app/stylesheets/g_instructure.sass */
  #right-side table.assignments .attachments {
    width: 30px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #aaaaaa; }
  /* line 255, ../../../app/stylesheets/g_instructure.sass */
  #right-side table.assignments .long_text {
    position: relative;
    overflow: hidden; }
    /* line 259, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.assignments .long_text.show_context {
      min-height: 1.7em; }
      /* line 262, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments .long_text.show_context .text {
        line-height: 1em; }
    /* line 265, ../../../app/stylesheets/g_instructure.sass */
    #right-side table.assignments .long_text .text_holder {
      position: absolute;
      width: 500px;
      top: 0;
      left: 0; }
      /* line 271, ../../../app/stylesheets/g_instructure.sass */
      #right-side table.assignments .long_text .text_holder .header {
        font-size: 0.6em;
        line-height: 1.2em;
        color: #888888;
        padding-left: 20px; }
/* line 277, ../../../app/stylesheets/g_instructure.sass */
#right-side .details {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }
  /* line 283, ../../../app/stylesheets/g_instructure.sass */
  #right-side .details .header {
    color: #444444;
    font-weight: bold; }
  /* line 287, ../../../app/stylesheets/g_instructure.sass */
  #right-side .details .preview {
    margin: 5px 30px 10px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }
  /* line 294, ../../../app/stylesheets/g_instructure.sass */
  #right-side .details .links {
    margin: 10px 0; }

/* line 297, ../../../app/stylesheets/g_instructure.sass */
table.summary {
  width: auto; }
  /* line 299, ../../../app/stylesheets/g_instructure.sass */
  table.summary th, table.summary td {
    padding: 2px 8px;
    vertical-align: top; }
  /* line 302, ../../../app/stylesheets/g_instructure.sass */
  table.summary thead th {
    background-color: #4d4d4d;
    color: white;
    font-weight: normal;
    border-top: 1px solid #4d4d4d; }
  /* line 307, ../../../app/stylesheets/g_instructure.sass */
  table.summary td, table.summary tbody th {
    border-top: 1px dotted #aaaaaa;
    background-color: #f2f3f5;
    color: #595959; }
  /* line 312, ../../../app/stylesheets/g_instructure.sass */
  table.summary table.subtable th, table.summary table.subtable td {
    border-top: 0;
    padding: 1px 5px 1px 0;
    font-size: 0.8em; }

/* line 318, ../../../app/stylesheets/g_instructure.sass */
form table.formtable {
  margin: 0;
  padding: 0;
  width: auto; }
  /* line 322, ../../../app/stylesheets/g_instructure.sass */
  form table.formtable input[type='text'], form table.formtable input[type='password'] {
    width: 217px; }

/* line 324, ../../../app/stylesheets/g_instructure.sass */
table.formtable td {
  vertical-align: top;
  padding: 2px 3px; }

/* line 332, ../../../app/stylesheets/g_instructure.sass */
.courses .name,
.groups .name,
.accounts .name {
  font-size: 1.1em;
  font-weight: bold; }
/* line 335, ../../../app/stylesheets/g_instructure.sass */
.courses .unpublished .name a,
.groups .unpublished .name a,
.accounts .unpublished .name a {
  color: #888888; }
/* line 337, ../../../app/stylesheets/g_instructure.sass */
.courses .details,
.groups .details,
.accounts .details {
  margin-left: 10px;
  font-size: 0.8em;
  color: #888888; }
/* line 341, ../../../app/stylesheets/g_instructure.sass */
.courses .info,
.groups .info,
.accounts .info {
  font-size: 0.8em;
  clear: left;
  visibility: hidden;
  margin-bottom: 5px;
  margin-left: 10px; }
  /* line 347, ../../../app/stylesheets/g_instructure.sass */
  .courses .info.info_hover,
  .groups .info.info_hover,
  .accounts .info.info_hover {
    visibility: visible; }
    /* line 349, ../../../app/stylesheets/g_instructure.sass */
    .courses .info.info_hover .links,
    .groups .info.info_hover .links,
    .accounts .info.info_hover .links {
      color: #cccccc; }
      /* line 351, ../../../app/stylesheets/g_instructure.sass */
      .courses .info.info_hover .links a,
      .groups .info.info_hover .links a,
      .accounts .info.info_hover .links a {
        color: #666666; }
  /* line 353, ../../../app/stylesheets/g_instructure.sass */
  .courses .info .links,
  .groups .info .links,
  .accounts .info .links {
    color: #eeeeee; }
    /* line 355, ../../../app/stylesheets/g_instructure.sass */
    .courses .info .links a,
    .groups .info .links a,
    .accounts .info .links a {
      color: #bbbbbb; }
  /* line 358, ../../../app/stylesheets/g_instructure.sass */
  .courses .info a,
  .groups .info a,
  .accounts .info a {
    color: #888888; }

/* line 361, ../../../app/stylesheets/g_instructure.sass */
span.hint {
  color: #666666;
  font-size: 0.8em; }

/* line 455, ../../../app/stylesheets/g_instructure.sass */
.event_pending {
  opacity: 0.4;
  -ms-filter: alpha(Opacity=40);
  filter: alpha(Opacity=40); }

/* line 458, ../../../app/stylesheets/g_instructure.sass */
.error_message {
  color: #ed002f; }

/* line 461, ../../../app/stylesheets/g_instructure.sass */
.formError {
  color: #ed002f;
  font-size: 0.8em;
  padding-left: 15px; }

/* line 466, ../../../app/stylesheets/g_instructure.sass */
.nobr {
  white-space: nowrap; }

/* line 469, ../../../app/stylesheets/g_instructure.sass */
.mini_discussion {
  font-size: 0.8em; }
  /* line 472, ../../../app/stylesheets/g_instructure.sass */
  .mini_discussion .name {
    font-weight: bold;
    margin-left: 10px; }
  /* line 476, ../../../app/stylesheets/g_instructure.sass */
  .mini_discussion .date {
    margin-left: 5px; }
  /* line 479, ../../../app/stylesheets/g_instructure.sass */
  .mini_discussion .message {
    font-size: 1.5em;
    color: black; }

/* line 483, ../../../app/stylesheets/g_instructure.sass */
.form_text_hint {
  font-style: italic;
  color: #888888; }

/* line 487, ../../../app/stylesheets/g_instructure.sass */
.loading_image {
  background-color: white; }

/* line 491, ../../../app/stylesheets/g_instructure.sass */
body .disabled_link {
  display: none; }

/* line 494, ../../../app/stylesheets/g_instructure.sass */
.error_box {
  position: absolute;
  top: -1000px;
  left: -100px;
  z-index: 11;
  max-width: 200px;
  min-width: 100px; }
  /* line 501, ../../../app/stylesheets/g_instructure.sass */
  .error_box .error_text {
    max-height: 100px;
    overflow: auto;
    margin-bottom: 10px;
    background-color: #eedddd;
    border: 2px solid #aa4444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px; }
  /* line 509, ../../../app/stylesheets/g_instructure.sass */
  .error_box .error_bottom {
    position: absolute;
    bottom: 0;
    left: 4px; }

/* line 514, ../../../app/stylesheets/g_instructure.sass */
.datetime_suggest {
  font-size: 0.8em;
  color: #888888;
  padding-left: 10px; }

/* line 518, ../../../app/stylesheets/g_instructure.sass */
.datepicker-time {
  padding: 0 0 4px;
  text-align: center; }
  /* line 521, ../../../app/stylesheets/g_instructure.sass */
  .datepicker-time input {
    border: 1px solid #aaaaaa;
    padding: 1px 2px; }
  /* line 524, ../../../app/stylesheets/g_instructure.sass */
  .datepicker-time select {
    border: 1px solid #aaaaaa; }
  /* line 526, ../../../app/stylesheets/g_instructure.sass */
  .datepicker-time button.button {
    font-weight: normal; }

/* line 530, ../../../app/stylesheets/g_instructure.sass */
#ui-datepicker-div {
  z-index: 9999; }

/* line 533, ../../../app/stylesheets/g_instructure.sass */
#submission_preview {
  margin: 20px auto; }
  /* line 535, ../../../app/stylesheets/g_instructure.sass */
  #submission_preview.paper {
    min-width: 400px;
    padding: 10px 20px;
    border: 1px solid #aaaaaa; }
  /* line 539, ../../../app/stylesheets/g_instructure.sass */
  #submission_preview.plain_text {
    width: 90%;
    font-family: courier, monospace; }

/* line 544, ../../../app/stylesheets/g_instructure.sass */
#sidebar .ui-widget {
  margin-bottom: 1em; }

/* line 547, ../../../app/stylesheets/g_instructure.sass */
ul.notification_list {
  line-height: 1.7em;
  padding-left: 10px;
  margin-bottom: 20px; }

/* line 552, ../../../app/stylesheets/g_instructure.sass */
ul.group_list {
  line-height: 1.7em;
  padding-left: 10px;
  margin-bottom: 20px; }

/* line 557, ../../../app/stylesheets/g_instructure.sass */
#wizard_box {
  border-bottom: 1px solid #aaaaaa;
  z-index: 111;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none; }
  /* line 566, ../../../app/stylesheets/g_instructure.sass */
  #wizard_box h3 {
    border-bottom: 1px solid #aaaaaa;
    margin: 0; }
  /* line 571, ../../../app/stylesheets/g_instructure.sass */
  #wizard_box .wizard_content {
    background-color: #eeeeee;
    border-top: 1px solid #888888;
    padding: 10px;
    box-shadow: 0 0 10px #333333; }
    /* line 577, ../../../app/stylesheets/g_instructure.sass */
    #wizard_box .wizard_content .links {
      float: right; }
    /* line 579, ../../../app/stylesheets/g_instructure.sass */
    #wizard_box .wizard_content .wizard_options {
      float: left;
      width: 40%;
      padding-right: 20px;
      position: relative; }
    /* line 584, ../../../app/stylesheets/g_instructure.sass */
    #wizard_box .wizard_content .wizard_details {
      float: left;
      width: 43%;
      display: none;
      border: 1px solid #aaaaaa;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;
      margin: 0px 20px;
      color: #444444;
      position: relative; }
      /* line 594, ../../../app/stylesheets/g_instructure.sass */
      #wizard_box .wizard_content .wizard_details p {
        margin-top: 0; }
    /* line 597, ../../../app/stylesheets/g_instructure.sass */
    #wizard_box .wizard_content .wizard_options_list {
      list-style-type: none;
      margin: 0 10px 0 0;
      line-height: 1.8em;
      padding-left: 10px; }
      /* line 603, ../../../app/stylesheets/g_instructure.sass */
      #wizard_box .wizard_content .wizard_options_list .option {
        cursor: pointer;
        padding-left: 25px;
        color: #444444;
        font-weight: bold;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        background-image: url(/images/person.png);
        background-repeat: no-repeat;
        background-position: 3px center; }
        /* line 613, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.information_step {
          background-image: url(/images/information.png); }
        /* line 615, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.assignments_step {
          background-image: url(/images/grading_icon.png); }
        /* line 617, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.content_step {
          background-image: url(/images/file.png); }
        /* line 619, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.calendar_step {
          background-image: url(/images/due_date_icon.png); }
        /* line 621, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.publish_step {
          background-image: url(/images/forward.png); }
        /* line 623, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.add_step {
          background-image: url(/images/add.png); }
        /* line 625, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.quiz_step {
          background-image: url(/images/quiz.png); }
        /* line 627, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.download_step {
          background-image: url(/images/download.png); }
        /* line 629, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.edit_step {
          background-image: url(/images/edit.png); }
        /* line 631, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.delete_step {
          background-image: url(/images/delete.png); }
        /* line 633, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option:hover {
          background-color: #dddddd; }
        /* line 635, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.completed a {
          color: #aaaaaa; }
        /* line 637, ../../../app/stylesheets/g_instructure.sass */
        #wizard_box .wizard_content .wizard_options_list .option.selected {
          background-color: #cccccc; }

/* line 641, ../../../app/stylesheets/g_instructure.sass */
#content_tags_dialog h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #888888; }
/* line 647, ../../../app/stylesheets/g_instructure.sass */
#content_tags_dialog .tags {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  /* line 652, ../../../app/stylesheets/g_instructure.sass */
  #content_tags_dialog .tags > .tag {
    display: block;
    float: left;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #ccddff;
    padding: 1px 4px;
    margin: 2px 3px;
    font-size: 0.9em; }
    /* line 662, ../../../app/stylesheets/g_instructure.sass */
    #content_tags_dialog .tags > .tag.uneditable {
      background-color: #dddddd; }
      /* line 665, ../../../app/stylesheets/g_instructure.sass */
      #content_tags_dialog .tags > .tag.uneditable .delete_link {
        display: none; }

/* line 668, ../../../app/stylesheets/g_instructure.sass */
.hidden-readable {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/* line 676, ../../../app/stylesheets/g_instructure.sass */
#keyboard_navigation {
  display: none; }
  /* line 679, ../../../app/stylesheets/g_instructure.sass */
  #keyboard_navigation ul.navigation_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 1.7em;
    display: table; }
    /* line 686, ../../../app/stylesheets/g_instructure.sass */
    #keyboard_navigation ul.navigation_list li {
      display: table-row; }
      /* line 688, ../../../app/stylesheets/g_instructure.sass */
      #keyboard_navigation ul.navigation_list li span {
        display: table-cell;
        padding: 1px 2px; }
      /* line 691, ../../../app/stylesheets/g_instructure.sass */
      #keyboard_navigation ul.navigation_list li .keycode {
        font-weight: bold;
        font-size: 1.2em;
        color: #224488;
        font-family: courier, monospace;
        text-align: right; }

/* line 699, ../../../app/stylesheets/g_instructure.sass */
#topic_list .hidden_until_scroll {
  display: none; }
/* line 701, ../../../app/stylesheets/g_instructure.sass */
#topic_list .part_of_clump {
  display: none; }

/* line 705, ../../../app/stylesheets/g_instructure.sass */
.recent_messages_list .communication_message .context_code, .recent_messages_list .communication_sub_message .context_code {
  display: none; }
/* line 709, ../../../app/stylesheets/g_instructure.sass */
.recent_messages_list.recent_messages_show_context .communication_message .context_code, .recent_messages_list.recent_messages_show_context .communication_sub_message .context_code {
  display: inline; }

/* line 713, ../../../app/stylesheets/g_instructure.sass */
.communication_messages_list .communication_message .context_code, .communication_messages_list .communication_sub_message .context_code {
  display: none; }
/* line 717, ../../../app/stylesheets/g_instructure.sass */
.communication_messages_list.communication_messages_show_context .communication_message .context_code, .communication_messages_list.communication_messages_show_context .communication_sub_message .context_code {
  display: inline; }

/* line 719, ../../../app/stylesheets/g_instructure.sass */
.communication_message {
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0 0 0.5em 0;
  width: auto;
  color: black;
  border-bottom: 1px solid #dddddd; }
  /* line 725, ../../../app/stylesheets/g_instructure.sass */
  .communication_message.selected {
    border-width: 1px; }
  /* line 729, ../../../app/stylesheets/g_instructure.sass */
  .communication_message div.header {
    padding: 2px 5px;
    /* :border-bottom 1px solid #eee */
    height: 45px;
    color: #666666; }
    /* line 735, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .header_title {
      float: left; }
    /* line 738, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .header_icon {
      float: left;
      padding-top: 5px; }
      /* line 741, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.header .header_icon.announcement_header_icon {
        display: none; }
    /* line 743, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .title {
      margin-left: 10px;
      font-size: 1em;
      font-weight: bold; }
    /* line 748, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .sub_title {
      margin-left: 30px;
      line-height: 0.8em; }
    /* line 752, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .context_code {
      font-size: 0.8em;
      padding-right: 5px;
      padding-left: 0; }
    /* line 756, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .context_name {
      font-size: 0.8em;
      padding: 0 5px;
      color: inherit;
      text-decoration: none; }
    /* line 761, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .points_possible {
      font-size: 0.8em;
      padding-right: 5px;
      padding-left: 0; }
    /* line 765, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .podcast {
      display: none; }
    /* line 768, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .user_name {
      white-space: nowrap;
      font-size: 0.8em; }
    /* line 772, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .post_date {
      float: right;
      padding-right: 10px;
      font-size: 0.8em;
      padding-top: 0.2em; }
      /* line 777, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.header .post_date .new-and-total-badge {
        float: right; }
    /* line 779, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .under_links {
      float: right;
      clear: right;
      padding-right: 10px;
      font-size: 0.8em; }
      /* line 784, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.header .under_links a {
        color: inherit; }
    /* line 787, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.header .link_box {
      float: right;
      width: 60px;
      text-align: right;
      min-height: 10px;
      margin-right: 5px; }
      /* line 793, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.header .link_box a {
        opacity: 0;
        -ms-filter: alpha(Opacity=0);
        filter: alpha(Opacity=0); }
        /* line 795, ../../../app/stylesheets/g_instructure.sass */
        .communication_message div.header .link_box a:hover, .communication_message div.header .link_box a:focus {
          opacity: 1;
          -ms-filter: alpha(Opacity=100);
          filter: alpha(Opacity=100); }
  /* line 798, ../../../app/stylesheets/g_instructure.sass */
  .communication_message div.content {
    padding: 5px 5px 1px 50px;
    color: #444444; }
    /* line 802, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .links {
      text-align: right;
      margin-right: 2.5em;
      display: block;
      font-size: 0.8em;
      color: #888888; }
      /* line 809, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.content .links a {
        color: #666666; }
        /* line 811, ../../../app/stylesheets/g_instructure.sass */
        .communication_message div.content .links a.brief_footer_link {
          display: none; }
        /* line 813, ../../../app/stylesheets/g_instructure.sass */
        .communication_message div.content .links a.verbose_footer_link {
          display: inline; }
    /* line 815, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .subcontent {
      padding-top: 5px; }
    /* line 817, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .status {
      text-align: right;
      font-size: 0.8em; }
    /* line 820, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .original_post_date {
      text-align: right;
      font-size: 0.8em;
      padding-right: 44px;
      color: #888888; }
    /* line 827, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .statistics td.name {
      width: 20%;
      vertical-align: top;
      padding: 5px 0;
      border-bottom: 1px solid #eeeeee; }
      /* line 832, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.content .statistics td.name .text {
        font-size: 0.8em; }
    /* line 834, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .statistics td.stats {
      vertical-align: top;
      padding: 5px 0 5px 10px;
      border-bottom: 1px solid #eeeeee; }
      /* line 839, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.content .statistics td.stats .answer .text {
        font-size: 0.8em; }
      /* line 841, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.content .statistics td.stats .answer .answer_bar {
        margin-bottom: 3px;
        border: 1px solid #888888;
        background: #cccccc;
        height: 10px; }
      /* line 847, ../../../app/stylesheets/g_instructure.sass */
      .communication_message div.content .statistics td.stats .answer.correct_answer .answer_bar {
        background: #8ec778; }
    /* line 851, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .attachments_list a {
      color: #888888; }
    /* line 853, ../../../app/stylesheets/g_instructure.sass */
    .communication_message div.content .extras {
      font-size: 0.8em;
      color: #888888; }
  /* line 856, ../../../app/stylesheets/g_instructure.sass */
  .communication_message div.footer {
    margin: 5px; }
  /* line 858, ../../../app/stylesheets/g_instructure.sass */
  .communication_message div.base_links {
    font-size: 1.5em;
    text-align: center; }
  /* line 861, ../../../app/stylesheets/g_instructure.sass */
  .communication_message div.subcontent {
    /* :border-left 1px solid #ddd */ }
  /* line 863, ../../../app/stylesheets/g_instructure.sass */
  .communication_message.pinned_notification {
    border: 1px solid #bbbbbb;
    background: #ffffbb; }
    /* line 867, ../../../app/stylesheets/g_instructure.sass */
    .communication_message.pinned_notification .header .links {
      float: right;
      font-size: 0.8em; }
    /* line 871, ../../../app/stylesheets/g_instructure.sass */
    .communication_message.pinned_notification .user_content p:last-child {
      margin-bottom: 0; }
  /* line 875, ../../../app/stylesheets/g_instructure.sass */
  .communication_message.has_podcast .header .podcast {
    display: block;
    float: right;
    opacity: 0.7;
    -ms-filter: alpha(Opacity=70);
    filter: alpha(Opacity=70); }
  /* line 879, ../../../app/stylesheets/g_instructure.sass */
  .communication_message a.disable_item_link {
    visibility: hidden;
    float: right;
    margin-right: 6px; }

/* line 887, ../../../app/stylesheets/g_instructure.sass */
.communication_message_hover div.header .link_box a {
  opacity: 0.5;
  -ms-filter: alpha(Opacity=50);
  filter: alpha(Opacity=50); }
/* line 889, ../../../app/stylesheets/g_instructure.sass */
.communication_message_hover a.disable_item_link {
  visibility: visible;
  opacity: 0.5;
  -ms-filter: alpha(Opacity=50);
  filter: alpha(Opacity=50); }
  /* line 892, ../../../app/stylesheets/g_instructure.sass */
  .communication_message_hover a.disable_item_link:hover {
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(Opacity=100); }

/* line 897, ../../../app/stylesheets/g_instructure.sass */
.brief_communication_message div.header .link_box {
  display: none; }
/* line 901, ../../../app/stylesheets/g_instructure.sass */
.brief_communication_message div.content .links a.brief_footer_link {
  display: inline; }
/* line 903, ../../../app/stylesheets/g_instructure.sass */
.brief_communication_message div.content .links a.verbose_footer_link {
  display: none; }

/* line 907, ../../../app/stylesheets/g_instructure.sass */
.communication_message.announcement div.header .header_icon.announcement_header_icon {
  display: inline; }
/* line 909, ../../../app/stylesheets/g_instructure.sass */
.communication_message.announcement div.header .header_icon.discussion_topic_header_icon {
  display: none; }

/* line 913, ../../../app/stylesheets/g_instructure.sass */
.communication_message.conversation .submission ul {
  margin: 0 10px 10px 0;
  padding: 0; }
/* line 916, ../../../app/stylesheets/g_instructure.sass */
.communication_message.conversation .submission li {
  margin: 0 0 2px 0;
  list-style: none;
  background: #e8e8e8; }
/* line 921, ../../../app/stylesheets/g_instructure.sass */
.communication_message.conversation .submission .user_name {
  font-size: 0.8em;
  padding: 0; }
/* line 924, ../../../app/stylesheets/g_instructure.sass */
.communication_message.conversation .submission .score {
  float: right;
  padding-right: 10px; }

/* line 928, ../../../app/stylesheets/g_instructure.sass */
.communication_sub_message {
  margin: 0 2.5em 2px 0em;
  padding: 0;
  width: auto;
  color: black;
  border-width: 0px;
  font-size: 0.85em;
  background-color: #f2f2f2; }
  /* line 938, ../../../app/stylesheets/g_instructure.sass */
  .communication_sub_message div.header, .communication_sub_message div li {
    padding: 0 5px;
    border-width: 0px;
    color: #999999; }
    /* line 943, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.header .link_box, .communication_sub_message div li .link_box {
      float: right;
      width: 60px;
      text-align: right;
      min-height: 10px;
      margin-right: 5px;
      opacity: 0.5; }
      /* line 950, ../../../app/stylesheets/g_instructure.sass */
      .communication_sub_message div.header .link_box a, .communication_sub_message div li .link_box a {
        visibility: hidden; }
      /* line 953, ../../../app/stylesheets/g_instructure.sass */
      .communication_sub_message div.header .link_box:hover, .communication_sub_message div li .link_box:hover {
        opacity: 1; }
        /* line 955, ../../../app/stylesheets/g_instructure.sass */
        .communication_sub_message div.header .link_box:hover a, .communication_sub_message div li .link_box:hover a {
          visibility: visible; }
    /* line 958, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.header .header_title, .communication_sub_message div li .header_title {
      float: left; }
    /* line 961, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.header .user_name, .communication_sub_message div li .user_name {
      padding-left: 5px;
      white-space: nowrap; }
    /* line 965, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.header .post_date, .communication_sub_message div li .post_date {
      float: right;
      padding-right: 10px;
      font-size: 0.9em;
      padding-top: 0.2em; }
    /* line 971, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.header a, .communication_sub_message div li a {
      color: #888888; }
  /* line 974, ../../../app/stylesheets/g_instructure.sass */
  .communication_sub_message div.content {
    padding: 1px 5px 1px 30px;
    color: #444444; }
    /* line 977, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.content .less_important {
      color: #888888;
      display: block;
      text-align: right;
      padding-right: 20px; }
    /* line 982, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.content a.textarea {
      display: block;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #aaaaaa;
      background-color: white;
      text-decoration: none;
      padding: 2px;
      width: 94%; }
    /* line 990, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.content textarea {
      border: 1px solid #aaaaaa;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      padding: 2px;
      font-size: 1.1em;
      font-family: Arial, sans-serif;
      width: 94%; }
      /* line 997, ../../../app/stylesheets/g_instructure.sass */
      .communication_sub_message div.content textarea.dim {
        height: 1em;
        color: #aaaaaa;
        font-family: arial, sans-serif; }
  /* line 1001, ../../../app/stylesheets/g_instructure.sass */
  .communication_sub_message div.behavior_content {
    color: #999999;
    padding: 2px 5px 2px 30px; }
    /* line 1004, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message div.behavior_content a {
      color: #888888; }
  /* line 1006, ../../../app/stylesheets/g_instructure.sass */
  .communication_sub_message div.footer {
    float: right; }
  /* line 1008, ../../../app/stylesheets/g_instructure.sass */
  .communication_sub_message.toggled_communication_sub_message {
    display: none; }
  /* line 1010, ../../../app/stylesheets/g_instructure.sass */
  .communication_sub_message.lonely_behavior_message {
    background-color: transparent; }
    /* line 1013, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message.lonely_behavior_message div.content a.textarea {
      display: inline;
      color: inherit;
      padding: 0;
      margin-right: 15px;
      border-width: 0; }
      /* line 1019, ../../../app/stylesheets/g_instructure.sass */
      .communication_sub_message.lonely_behavior_message div.content a.textarea:hover, .communication_sub_message.lonely_behavior_message div.content a.textarea:focus {
        text-decoration: underline; }
    /* line 1022, ../../../app/stylesheets/g_instructure.sass */
    .communication_sub_message.lonely_behavior_message div.content .less_important {
      display: inline;
      color: inherit; }

/* line 1026, ../../../app/stylesheets/g_instructure.sass */
html > body .communication_sub_message .content textarea {
  width: 97%; }

/* line 1028, ../../../app/stylesheets/g_instructure.sass */
html > body .communication_sub_message .content a.textarea {
  width: 97%; }

/* line 1032, ../../../app/stylesheets/g_instructure.sass */
html > body .communication_message div.header .under_links {
  opacity: 0;
  -ms-filter: alpha(Opacity=0);
  filter: alpha(Opacity=0); }

/* line 1034, ../../../app/stylesheets/g_instructure.sass */
html > body .communication_message:hover div.header .under_links {
  opacity: 1;
  -ms-filter: alpha(Opacity=100);
  filter: alpha(Opacity=100); }

/* line 1038, ../../../app/stylesheets/g_instructure.sass */
.new_activity_message a.textarea {
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  color: #888888;
  text-decoration: none;
  cursor: text;
  background-color: white;
  padding: 2px;
  width: 94%; }
/* line 1049, ../../../app/stylesheets/g_instructure.sass */
.new_activity_message .message_type img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 0 5px;
  cursor: pointer;
  border: 1px solid white; }
  /* line 1054, ../../../app/stylesheets/g_instructure.sass */
  .new_activity_message .message_type img:hover {
    border-color: #cccccc; }
  /* line 1056, ../../../app/stylesheets/g_instructure.sass */
  .new_activity_message .message_type img.selected {
    border-color: #888888;
    background-color: #eeeeee; }
/* line 1060, ../../../app/stylesheets/g_instructure.sass */
.new_activity_message form textarea {
  height: 4.8em;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  font-size: 1.1em;
  font-family: Arial, sans-serif;
  width: 94%; }

/* line 1068, ../../../app/stylesheets/g_instructure.sass */
html > body .new_activity_message a.textarea {
  width: 97%; }

/* line 1070, ../../../app/stylesheets/g_instructure.sass */
html > body .new_activity_message form textarea {
  width: 97%; }

/* line 1074, ../../../app/stylesheets/g_instructure.sass */
.notification_list li a {
  padding-left: 20px;
  background-image: url(../images/other_icon.png);
  background-repeat: no-repeat;
  background-position: left center; }
  /* line 1079, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.announcement {
    background-image: url(../images/announcement_icon.png); }
  /* line 1081, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.course_content {
    background-image: url(../images/course_content_icon.png); }
  /* line 1083, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.due_date {
    background-image: url(../images/due_date_icon.png); }
  /* line 1085, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.discussion {
    background-image: url(../images/discussion_icon.png); }
  /* line 1087, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.grading {
    background-image: url(../images/grading_icon.png); }
  /* line 1089, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.invitation {
    background-image: url(../images/invitation_icon.png); }
  /* line 1091, ../../../app/stylesheets/g_instructure.sass */
  .notification_list li a.message {
    background-image: url(../images/message_icon.png); }

/* line 1094, ../../../app/stylesheets/g_instructure.sass */
.module_legend {
  float: right;
  clear: right;
  border: 1px solid #cccccc;
  min-width: 200px;
  margin-bottom: 5px;
  margin-left: 10px; }
  /* line 1102, ../../../app/stylesheets/g_instructure.sass */
  .module_legend.module_legend_locked .title {
    display: none; }
  /* line 1104, ../../../app/stylesheets/g_instructure.sass */
  .module_legend.module_legend_locked .locked_title, .module_legend.module_legend_locked .locked_message {
    display: inline; }
  /* line 1106, ../../../app/stylesheets/g_instructure.sass */
  .module_legend .locked_title, .module_legend .locked_message {
    display: none; }
  /* line 1108, ../../../app/stylesheets/g_instructure.sass */
  .module_legend .header {
    border-bottom: 1px solid #cccccc;
    background-color: #eeeeee;
    font-size: 1.2em;
    font-weight: bold;
    padding: 2px 5px; }
  /* line 1114, ../../../app/stylesheets/g_instructure.sass */
  .module_legend .content {
    padding: 5px 20px 5px 10px;
    max-height: 50px;
    overflow: auto; }
    /* line 1118, ../../../app/stylesheets/g_instructure.sass */
    .module_legend .content ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      /* line 1122, ../../../app/stylesheets/g_instructure.sass */
      .module_legend .content ul .context_module_item .type_icon {
        background: url(../images/file.png) no-repeat left top; }
      /* line 1124, ../../../app/stylesheets/g_instructure.sass */
      .module_legend .content ul .attachment_module_item .type_icon {
        background-image: url(../images/file_download.png); }
      /* line 1126, ../../../app/stylesheets/g_instructure.sass */
      .module_legend .content ul .assignment_module_item .type_icon {
        background-image: url(../images/assignment.png); }
  /* line 1128, ../../../app/stylesheets/g_instructure.sass */
  .module_legend .footer {
    text-align: right;
    font-size: 0.8em; }
  /* line 1132, ../../../app/stylesheets/g_instructure.sass */
  .module_legend .context_module_item .criterion {
    width: 16px;
    height: 16px; }
    /* line 1135, ../../../app/stylesheets/g_instructure.sass */
    .module_legend .context_module_item .criterion.completed {
      background: url(../images/pass.png) no-repeat left top; }
      /* line 1136, ../../../app/stylesheets/g_instructure.sass */
      .module_legend .context_module_item .criterion.completed img {
        visibility: hidden; }
      /* line 1139, ../../../app/stylesheets/g_instructure.sass */
      .module_legend .context_module_item .criterion.completed:hover {
        background: transparent; }
        /* line 1140, ../../../app/stylesheets/g_instructure.sass */
        .module_legend .context_module_item .criterion.completed:hover img {
          visibility: visible; }

/* line 1145, ../../../app/stylesheets/g_instructure.sass */
#user_list_boxes {
  position: relative;
  height: 152px; }
  /* line 1148, ../../../app/stylesheets/g_instructure.sass */
  #user_list_boxes #user_list_textarea_container, #user_list_boxes #user_list_processing, #user_list_boxes #user_list_parsed {
    height: 152px;
    width: 100%;
    position: absolute;
    background-color: white; }
  /* line 1153, ../../../app/stylesheets/g_instructure.sass */
  #user_list_boxes textarea {
    width: 98%;
    height: 108px;
    margin: 0; }
  /* line 1157, ../../../app/stylesheets/g_instructure.sass */
  #user_list_boxes #user_lists_processed_people {
    overflow: auto;
    height: 126px; }
    /* line 1160, ../../../app/stylesheets/g_instructure.sass */
    #user_list_boxes #user_lists_processed_people .ui-widget {
      margin: 2px; }
    /* line 1162, ../../../app/stylesheets/g_instructure.sass */
    #user_list_boxes #user_lists_processed_people .person {
      float: left;
      margin: 2px;
      font-size: 11px;
      height: 33px;
      padding: 0 4px; }
      /* line 1168, ../../../app/stylesheets/g_instructure.sass */
      #user_list_boxes #user_lists_processed_people .person .address, #user_list_boxes #user_lists_processed_people .person .login {
        font-weight: normal; }

/* line 1171, ../../../app/stylesheets/g_instructure.sass */
body > #ui-datepicker-div {
  display: none; }

/* line 1173, ../../../app/stylesheets/g_instructure.sass */
#instructure_dropdown_list {
  z-index: 10; }
  /* line 1175, ../../../app/stylesheets/g_instructure.sass */
  #instructure_dropdown_list .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto; }
  /* line 1182, ../../../app/stylesheets/g_instructure.sass */
  #instructure_dropdown_list .option.ui-state-default.minimal {
    background: white;
    border-color: #dde8f0; }
  /* line 1185, ../../../app/stylesheets/g_instructure.sass */
  #instructure_dropdown_list .option .ui-icon {
    float: left;
    margin-top: 0.2em;
    margin-right: 2px; }

/* line 1190, ../../../app/stylesheets/g_instructure.sass */
.editor_box_resizer {
  position: relative;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  cursor: s-resize !important;
  -moz-user-select: none; }
  /* line 1197, ../../../app/stylesheets/g_instructure.sass */
  .editor_box_resizer div.ui-icon {
    display: block;
    position: absolute;
    background-color: !important;
    height: 16px;
    width: 13px;
    right: 0;
    top: -13px;
    background-position: -64px -224px !important;
    background-image: url(../images/jqueryui/ui-icons_222222_256x240.png) !important;
    cursor: se-resize !important; }

/* line 1209, ../../../app/stylesheets/g_instructure.sass */
.communication_message .media_comment_thumbnail {
  margin: 3px 0; }

/* line 1211, ../../../app/stylesheets/g_instructure.sass */
.media_comment_thumbnail {
  width: 140px;
  height: 100px;
  margin: 3px 5px;
  background: url(../images/blank.png) no-repeat center center;
  background-color: #222222;
  border: 0px solid black;
  display: block;
  padding: 2px; }
  /* line 1220, ../../../app/stylesheets/g_instructure.sass */
  .media_comment_thumbnail img {
    display: block; }
  /* line 1222, ../../../app/stylesheets/g_instructure.sass */
  .media_comment_thumbnail.media_comment_thumbnail-small {
    width: 70px;
    height: 50px; }

/* line 1226, ../../../app/stylesheets/g_instructure.sass */
a .media_comment_thumbnail:hover {
  border-color: black;
  background-color: #333333;
  padding: 2px;
  border-width: 0px; }

/* line 1232, ../../../app/stylesheets/g_instructure.sass */
table.side_tabs_table {
  border-collapse: collapse; }
  /* line 1234, ../../../app/stylesheets/g_instructure.sass */
  table.side_tabs_table td {
    vertical-align: top; }
    /* line 1236, ../../../app/stylesheets/g_instructure.sass */
    table.side_tabs_table td.left {
      width: 25%;
      border-right: 1px solid #cccccc;
      padding-right: 5px; }
    /* line 1240, ../../../app/stylesheets/g_instructure.sass */
    table.side_tabs_table td.right {
      width: 65%;
      border-left: 1px solid #cccccc;
      padding-left: 5px; }
  /* line 1244, ../../../app/stylesheets/g_instructure.sass */
  table.side_tabs_table ul.side_tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow: auto;
    min-width: 150px; }
    /* line 1251, ../../../app/stylesheets/g_instructure.sass */
    table.side_tabs_table ul.side_tabs li {
      padding: 2px 5px;
      margin-bottom: 3px;
      -moz-border-radius: 3px;
      cursor: pointer; }
      /* line 1256, ../../../app/stylesheets/g_instructure.sass */
      table.side_tabs_table ul.side_tabs li:hover {
        background-color: #eeeeee; }
      /* line 1258, ../../../app/stylesheets/g_instructure.sass */
      table.side_tabs_table ul.side_tabs li.selected_side_tab {
        font-weight: bold;
        background-color: #dddddd; }
      /* line 1261, ../../../app/stylesheets/g_instructure.sass */
      table.side_tabs_table ul.side_tabs li div.sub_content {
        font-size: 0.8em;
        padding-left: 10px;
        color: #888888; }
  /* line 1265, ../../../app/stylesheets/g_instructure.sass */
  table.side_tabs_table div.side_tabs_content {
    max-height: 300px;
    overflow: auto; }
  /* line 1268, ../../../app/stylesheets/g_instructure.sass */
  table.side_tabs_table div.side_tabs_content_with_room_for_button {
    max-height: 252px;
    overflow: auto; }

/* line 1272, ../../../app/stylesheets/g_instructure.sass */
.quoted_text_holder .show_quoted_text_link {
  font-size: 0.8em; }

/* line 1275, ../../../app/stylesheets/g_instructure.sass */
#sequence_details .sequence_list {
  margin-left: 10px; }
  /* line 1277, ../../../app/stylesheets/g_instructure.sass */
  #sequence_details .sequence_list li {
    padding-left: 20px;
    background: url(../images/ball.png) no-repeat center left; }
    /* line 1280, ../../../app/stylesheets/g_instructure.sass */
    #sequence_details .sequence_list li.prev, #sequence_details .sequence_list li.next {
      font-size: 0.9em; }
    /* line 1282, ../../../app/stylesheets/g_instructure.sass */
    #sequence_details .sequence_list li.prev {
      background-image: url(../images/uptick.png); }
    /* line 1284, ../../../app/stylesheets/g_instructure.sass */
    #sequence_details .sequence_list li.next {
      background-image: url(../images/downtick.png); }
    /* line 1286, ../../../app/stylesheets/g_instructure.sass */
    #sequence_details .sequence_list li.current {
      font-weight: bold;
      font-size: 1.1em;
      margin: 2px 0; }

/* line 1291, ../../../app/stylesheets/g_instructure.sass */
body.padless-content #content #sequence_footer, #content.padless #sequence_footer {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px; }

/* line 1295, ../../../app/stylesheets/g_instructure.sass */
#sequence_footer {
  padding-top: 15px; }
  /* line 1297, ../../../app/stylesheets/g_instructure.sass */
  #sequence_footer .next, #sequence_footer .prev {
    width: 150px;
    overflow: hidden; }
    /* line 1300, ../../../app/stylesheets/g_instructure.sass */
    #sequence_footer .next .title, #sequence_footer .prev .title {
      display: block;
      font-size: 0.8em;
      white-space: nowrap; }
    /* line 1305, ../../../app/stylesheets/g_instructure.sass */
    #sequence_footer .next:hover .title, #sequence_footer .prev:hover .title {
      text-decoration: none; }
  /* line 1307, ../../../app/stylesheets/g_instructure.sass */
  #sequence_footer .next {
    float: right; }
  /* line 1309, ../../../app/stylesheets/g_instructure.sass */
  #sequence_footer .prev {
    float: left; }
  /* line 1311, ../../../app/stylesheets/g_instructure.sass */
  #sequence_footer .all {
    clear: right;
    float: right; }

/* line 1315, ../../../app/stylesheets/g_instructure.sass */
.content_lock_icon {
  cursor: pointer; }

/* line 1317, ../../../app/stylesheets/g_instructure.sass */
#module_prerequisites_list {
  list-style-type: none;
  padding-left: 10px; }
  /* line 1320, ../../../app/stylesheets/g_instructure.sass */
  #module_prerequisites_list li.module {
    padding: 5px 0; }
    /* line 1322, ../../../app/stylesheets/g_instructure.sass */
    #module_prerequisites_list li.module ul {
      list-style-type: none;
      padding: 5px 0 5px 20px; }
    /* line 1326, ../../../app/stylesheets/g_instructure.sass */
    #module_prerequisites_list li.module li.requirement .description {
      font-size: 0.8em; }
    /* line 1329, ../../../app/stylesheets/g_instructure.sass */
    #module_prerequisites_list li.module li.requirement.locked_requirement {
      color: #888888; }
      /* line 1330, ../../../app/stylesheets/g_instructure.sass */
      #module_prerequisites_list li.module li.requirement.locked_requirement .description {
        padding-left: 20px;
        background: transparent url(../images/lock.png) no-repeat left center; }
      /* line 1334, ../../../app/stylesheets/g_instructure.sass */
      #module_prerequisites_list li.module li.requirement.locked_requirement a {
        color: #888888; }
    /* line 1336, ../../../app/stylesheets/g_instructure.sass */
    #module_prerequisites_list li.module.locked {
      padding-left: 20px;
      cursor: pointer;
      background: transparent url(../images/lock_small.png) no-repeat left 5px; }
      /* line 1340, ../../../app/stylesheets/g_instructure.sass */
      #module_prerequisites_list li.module.locked h3 {
        color: #888888; }
      /* line 1342, ../../../app/stylesheets/g_instructure.sass */
      #module_prerequisites_list li.module.locked ul {
        display: none; }

/* line 1346, ../../../app/stylesheets/g_instructure.sass */
#aligned_outcomes .outcomes {
  list-style-type: none;
  padding-left: 10px; }
  /* line 1349, ../../../app/stylesheets/g_instructure.sass */
  #aligned_outcomes .outcomes .outcome {
    margin-bottom: 5px; }
    /* line 1351, ../../../app/stylesheets/g_instructure.sass */
    #aligned_outcomes .outcomes .outcome .short_description {
      font-weight: bold; }
    /* line 1353, ../../../app/stylesheets/g_instructure.sass */
    #aligned_outcomes .outcomes .outcome .description {
      font-size: 0.8em;
      margin-left: 20px; }
    /* line 1356, ../../../app/stylesheets/g_instructure.sass */
    #aligned_outcomes .outcomes .outcome .mastery {
      margin-top: 5px;
      font-size: 0.7em;
      font-style: italic;
      margin-left: 20px; }

/* line 1362, ../../../app/stylesheets/g_instructure.sass */
#align_outcomes_dialog .all_outcomes {
  list-style-type: none;
  padding-left: 10px; }
  /* line 1365, ../../../app/stylesheets/g_instructure.sass */
  #align_outcomes_dialog .all_outcomes .outcome {
    padding: 2px 5px;
    margin-bottom: 2px; }
    /* line 1368, ../../../app/stylesheets/g_instructure.sass */
    #align_outcomes_dialog .all_outcomes .outcome.selected_outcome {
      background-color: #eeeeee;
      -moz-border-radius: 3px; }

/* line 1371, ../../../app/stylesheets/g_instructure.sass */
.custom_search_results_link {
  font-size: 1.2em; }

/* line 1374, ../../../app/stylesheets/g_instructure.sass */
fieldset {
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 5px; }
  /* line 1379, ../../../app/stylesheets/g_instructure.sass */
  fieldset legend {
    font-weight: bold;
    margin-left: 20px; }

/* line 1383, ../../../app/stylesheets/g_instructure.sass */
.turnitin_similarity_score {
  white-space: nowrap;
  border: 1px solid #bbbbbb;
  border-top: 5px solid #bbbbbb;
  padding: 1px 2px 2px;
  font-size: 0.8em; }
  /* line 1389, ../../../app/stylesheets/g_instructure.sass */
  .turnitin_similarity_score.none_score {
    border-color: #4987ec; }
  /* line 1391, ../../../app/stylesheets/g_instructure.sass */
  .turnitin_similarity_score.acceptable_score {
    border-color: #52e252; }
  /* line 1393, ../../../app/stylesheets/g_instructure.sass */
  .turnitin_similarity_score.warning_score {
    border-color: #ecec49; }
  /* line 1395, ../../../app/stylesheets/g_instructure.sass */
  .turnitin_similarity_score.problem_score {
    border-color: #ffb420; }
  /* line 1397, ../../../app/stylesheets/g_instructure.sass */
  .turnitin_similarity_score.failure_score {
    border-color: #ff3f3f; }

/* line 1399, ../../../app/stylesheets/g_instructure.sass */
h2.h-margin-top, h3.h-margin-top {
  margin-top: 20px; }

/* line 1404, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog #licence-help-options th {
  vertical-align: top;
  white-space: nowrap; }
/* line 1407, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog #licence-help-options .option {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0 2px;
  padding: 4px 2px;
  border: 2px solid #444444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }
  /* line 1415, ../../../app/stylesheets/g_instructure.sass */
  #license_help_dialog #licence-help-options .option:hover {
    background-color: #eeeeee; }
  /* line 1417, ../../../app/stylesheets/g_instructure.sass */
  #license_help_dialog #licence-help-options .option.selected {
    background-color: #c3decf; }
/* line 1419, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog #licence-help-options img {
  vertical-align: middle; }
/* line 1422, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog .licenses {
  margin-top: 10px; }
/* line 1424, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog .license {
  float: left;
  display: none;
  font-size: 1.2em;
  font-weight: bold; }
  /* line 1429, ../../../app/stylesheets/g_instructure.sass */
  #license_help_dialog .license img {
    vertical-align: middle; }
  /* line 1431, ../../../app/stylesheets/g_instructure.sass */
  #license_help_dialog .license.active {
    display: block; }
/* line 1433, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog .select {
  float: left;
  margin-right: 10px; }
/* line 1436, ../../../app/stylesheets/g_instructure.sass */
#license_help_dialog #option-explanations td {
  font-size: 0.8em;
  padding: 5px 5px 0;
  vertical-align: top; }

/* line 1441, ../../../app/stylesheets/g_instructure.sass */
form.user_content_post_form {
  display: none; }

/* line 1444, ../../../app/stylesheets/g_instructure.sass */
#change_gradebook_version_link_holder, #change_calendar_version_link_holder {
  float: right !important;
  background: none !important; }
  /* line 1447, ../../../app/stylesheets/g_instructure.sass */
  #change_gradebook_version_link_holder a, #change_calendar_version_link_holder a {
    margin-right: 10px;
    padding: 1px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #05a6ea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0abdff), to(#008fd6));
    background-image: -webkit-linear-gradient(top, #0abdff, #008fd6);
    background-image: -moz-linear-gradient(top, #0abdff, #008fd6);
    background-image: -ms-linear-gradient(top, #0abdff, #008fd6);
    background-image: -o-linear-gradient(top, #0abdff, #008fd6);
    background-image: linear-gradient(top, #0abdff, #008fd6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0abdff',EndColorStr='#008fd6')";
    zoom: 1;
    text-decoration: none !important;
    font-size: 12px;
    border: 1px solid #1e7eca;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 1px;
    -moz-user-select: none; }
    /* line 44, ../../../app/stylesheets/mixins/_misc.sass */
    .ie9 #change_gradebook_version_link_holder a, .ie9 #change_calendar_version_link_holder a {
      border-radius: 0 !important; }
    /* line 1453, ../../../app/stylesheets/g_instructure.sass */
    #change_gradebook_version_link_holder a:hover, #change_calendar_version_link_holder a:hover {
      border-color: #165a92;
      -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.5); }
