@charset "utf-8";
*{ margin:0; padding:0;}
body {background:#adcddf;font-family:'宋体' Tahoma,Geneva,sans-serif;font-size:12px; color:#333333; text-align: center;}
h1, h2, h3, form, ul, li, p {list-style: none outside none;}
a img {border: 0 none;}
a {color:#226498;text-decoration:none;cursor:pointer;}
a:hover {color:#226498;text-decoration:underline;}
select {border:1px solid #818181;font-size:12px;height:20px;color:#2f2f2f;line-height:22px;vertical-align:middle}
cite,em{ font-style:normal;}

h1,h2,h3,h4
{
    voice-family:male;
    richness:80;
}


.float-top-bar{width:100%;height:30px; position:fixed; filter:alpha(Opacity=50);-moz-opacity:0.2;opacity: 0.6;z-index:100; background-color:#8a2be2; top: 0; left: 0;}
.ftb-content{background-color: transparent; position:fixed; width:100%;height:30px; z-index:101; top: 0; left: 0;}
.ftb-content .info{font-size:18px; float:left; margin-left: 20px; width:200px;}

.wrap{ padding-top:40px;width:700px;  margin-left: auto; margin-right: auto; }

.header{ height:80px; }
.header h1 {float:left; line-height:80px; padding-left:20px; font-size:32px; font-family:"微软雅黑";position:relative;width:200px;}
.header .info{ width:400px; height:33px; line-height:33px; text-align:right; float: right; padding-right:10px;  font-size:14px}

.nav { padding-left:30px; font-size:16px; height:32px;}
.nav li { padding:0 5px;margin-right:40px;float: left;position: relative;white-space: nowrap; text-align:center;}
.nav li a, .nav li a:visited {height: 32px;line-height: 32px; display: inline-block;text-decoration: none;}
.nav li.current a, .nav li.current a:visited {width:60px;color: #095C98; font-weight: bold}

.main{ background:#ffffff; height:auto; overflow:auto; width: 100%; }

/*左侧主体内容样式*/
.content{ width:100%;min-height:450px; vertical-align:top;  position: relative; display:inline-block; text-align:left; border-top:5px solid #b9b9b9; margin-bottom: 20px}

/*左侧主体内容样式, 较宽，应用于submission模块*/
.content2{ min-height:450px; width:75%; padding-left:10px; padding-top:15px; vertical-align:top;  position: relative; float:left; display:inline-block; text-align:left; border-top:5px solid #6a9c60; margin-bottom: 20px}
.content2 .header{  height:40px}
.content2 .submission-grid { margin-right:60px; border-top:1px solid #CCCCCC;   line-height:50px}
.content2 .submission-grid .labels { padding:1px; font-size:14px; border-bottom:1px solid #E5E5E5;}
.content2 .submission-grid .assignment_list{position: relative;}
.content2 .submission-grid .row { border-bottom: 1px dashed #b9b9b9;}
.content2 .submission-grid .row:hover {background:#f5f5f5;}
.content2 .submission-grid .name{ color: #48B4D6; width:26%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .category{ width:18%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .score{ width:15%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .deadline{ width:23%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .submission-count{ display:inline-block; padding-left:8px;}

.content2 .submission-grid .row-no-hover { border-bottom: 1px dashed #b9b9b9;}
.content2 .submission-grid .student{ color: #48B4D6; width:26%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .point{ width:18%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .note{ width:13%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .submission-time{ width:22%; display:inline-block; padding-left:8px;}
.content2 .submission-grid .submission-content{ display:inline-block; padding-left:8px;}
.content2 .submission-grid .portrait { width:35px; height:35px; border: 1px solid #000; float:left; margin:6px 8px}
.content2 .submission-grid .point input { text-align:right; border:none; height:35px; font-size:24px; font-weight:bold; color: #666666}
.content2 .submission-grid .point .out-of { margin:0; padding:0;}

/*新建作业浮层样式*/
.popup{ display:none; position:absolute; width:720px;  left:0; top:0 ;border:2px solid #cccccc; border-radius:5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; z-index:2;}
.popup .header { height: 25px; background: #F4F4F4; border-bottom:1px solid #C2C2C2; padding:10px;}
.popup .header h3 {float:left;}
.popup h4{ margin: 13px 0px;}
.popup .header .close {float:right; font-size:14px; cursor: pointer}
.popup .popup-main {background: #FFF; min-height:450px; border-bottom:1px solid rgb(204,204,204); padding:15px}
.popup .popup-main .due-date, .popup .popup-main .submison-type, .popup .popup-main .category, .popup .popup-main .grade-setting{float:left; margin-right:35px;}
.popup .popup-main  .clear{ clear:left}
.popup .popup-main .resource-operation { float:right; margin:13px; color:#48B4D6}
.popup .popup-footer { min-height:40px; background: #FFF; padding:15px}
.popup .popup-footer button { float:right; margin-left: 20px; height:28px; width:120px;}
.popup .popup-footer .cancel { background:#F2F2F2; border:1px solid #CCCCCC; color: #666666;}
.popup .popup-footer .cancel:hover{box-shadow:0 1px 2px 0 rgba(0,0,0,0.19); border:1px solid #B2B2B2; cursor: pointer}
.popup .popup-footer .save { background:#48B5D7; border:1px solid #3F9CB9; color: #FFFFFF;}
.popup .popup-footer .save:hover{box-shadow:0 1px 2px 0 rgba(0,0,0,0.19); border:1px solid #3B89A2; cursor: pointer}
.popup input {height:22px;}
.popup select {height: 24px;}

/*帖子列表项*/
.postArea {margin-top:20px;}
.postAbs{ position: relative; text-align:left; min-height:80px; border-bottom:1px solid #b9b9b9; padding:10px 10px}
.postAbs a {color:#20B4D7;}
.postAbs .post-info{min-height:80px;}
.postAbs .post-info .post-time{ display: inline-block; width:10%; float:left; margin-left:10px;}
.postAbs .post-info .post-content{ display: inline-block; width:75%; margin-left:10px;}
.postAbs .post-info .post-operation{ display: inline-block; width:8%; float: right; }
.postAbs .comment-panel{ width:80%; background-color: #dcdcdc; text-align: center; padding: 30px; }
.postAbs .comment-panel #comment-editor{text-align: right;}
.postAbs .comment-panel #comment-editor #new-comment-content{ width:500px;min-height:40px; resize: none;}
.postAbs .comment-panel .view-all {margin-top:10px;float: right;}

.view-all-panel{height:500px;width:700px;}
.view-all-panel #close-text{margin-right:12px;margin-top:6px;font-weight:bold;float:right;font-size:28px;}
.view-all-panel #close {width: 40px;height: 40px;background: #aaa;-moz-border-radius: 40px;-webkit-border-radius: 40px;border-radius: 40px;cursor:pointer;float:right;}
.view-all-panel .popup-comment{overflow-y: scroll;overflow-x: hidden;border: 3px solid #aaa;background-color:white;width:90%;height:80%;padding:10px;
    clear: both; /* 清除左右浮动 */
    word-break: break-word; /* 文本行的任意字内断开 */
    word-wrap: break-word; /* IE */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
}

/*评论浮层样式*/
.popup-comment .popup-main { height:100%;}
.popup-comment .post { padding: 13px; border-bottom: 1px solid #b9b9b9;}
.popup-comment .post .post-info { height:110px }
.popup-comment .post .post-info .img { border: 1px solid; width:20%; display:inline-block; float:left; height:90px; width:90px; margin-right:10px;}
.popup-comment .post .post-info .post-author-time {width: 60%; display:inline-block; }
.popup-comment .post .post-info .post-author-time .post-author{ font-size:14px; padding-bottom: 4px}
.popup-comment .post .post-info .like {width:10%; display:inline-block; vertical-align:top; float:right; }
.popup-comment .post .post-info .like-button { background-color: #F2F2F2; text-align: center; border: 1px solid #b9b9b9; width:70px; height:20px; float:right; font-weight:bold; line-height: 20px}
.popup-comment #comment-editor { margin:15px; width:100%; min-height:60px; resize: none;}
.popup-comment #comment-editor #new-comment-content{width:90%; min-height:40px; resize: none;  float:right;margin-right: 30px;}
.popup-comment #comment-submit { margin:5px; float:right; margin-right: 30px;}
.popup-comment #comment-submit button {}

.comment-block { margin:15px; min-height:40px; border-top:1px dashed #b9b9b9; padding-bottom:15px;}
.comment-block .info  { min-height: 30px; line-height:18px;}
.comment-block .info .img { display:inline-block; border: 1px solid; float:left; height:32px; width:32px; margin-right:10px;}
.comment-block .info .author-time{ display:inline-block; float:left; width:60%;margin-left: 20px;}
.comment-block .info .author{  font-size:13px; }
.comment-block .info .time {  }
.comment-block .info .operation {  display:inline-block; float:right;}

/*右侧辅助菜单样式*/
.subsidiary { width:38%; position: relative; display:inline-block; float:right; min-height: 400px }
.subsidiary .menu{ width:50%; vertical-align:top; position: relative; text-align:center; border-top:5px solid #b9b9b9; display:inline-block; margin-left:10px}
.subsidiary .menu .caption  h2{  padding: 15px; border-bottom: 1px solid #b9b9b9;}
.subsidiary .menu  li  { text-align: left; padding:8px 30px;}
.subsidiary .menu  li:hover  { background:#f5f5f5;}
.subsidiary .menu li  a, .menu li  a:visited{ color:#20B4D7; text-align: left; }
.subsidiary .menu .submenu {border-top: 1px solid #b9b9b9; }
.subsidiary .menu .submenu .submenuType {font-size: 14px; text-align:left;   padding:15px 0px 15px 30px;}
.subsidiary .menu .submenu .submenuType:hover {background:#f5f5f5;}
.subsidiary .menu .submenu .submenuType .icon  {float:right; }
.subsidiary .menu .submenu .submenuType .icon a {color:#20B4D7;}
.subsidiary .menu .submenu  ul {border-top:1px dashed #b9b9b9;}

.subsidiary2 {width:23%; position: relative; display:inline-block; float:left }
.subsidiary2  .module {width:98%; vertical-align:top; position: relative; text-align:center; border-top:5px solid #6a9c60; display:inline-block; margin-left:10px; padding: 20px 0px}
.subsidiary2  .module .operation  { margin-bottom: 10px; padding-left: 10px; text-align: left; width: 100%;}
.subsidiary2  .module button {-moz-box-sizing: border-box; background-color: #F2F2F2; border: 1px solid #CCCCCC; border-radius: 2px 2px 2px 2px; color: #666666; cursor: pointer; font-size: 1em; font-weight: bold; height: 34px; letter-spacing: 0.4px;}
.subsidiary2  .module button:hover {box-shadow:0 1px 2px 0 rgba(0,0,0,0.19); border:1px solid #B2B2B2; cursor: pointer}
.subsidiary2  .module .public {background:#49B6D8; color:#FFF;}
.subsidiary2  .module .public:hover {box-shadow:0 1px 2px 0 rgba(0,0,0,0.19); border:1px solid #3B89A2; cursor: pointer}

/*聊天室*/
.subsidiary .chat{ width:40%; vertical-align:top; float: right; position: relative; text-align:center; border-top:5px solid #b9b9b9; display:inline-block; margin-left:10px}

/*评论浮层样式*/
.subsidiary .popup-comment { display:none; position: absolute; left: 0px; top:0px; width:98%; height:100%; background:#ffffff; border:2px solid #cccccc; }
.subsidiary .popup-comment .commentHead { background:#f4f4f4; height:10%; border-bottom: 1px solid #c2c2c2; }
.subsidiary .popup-comment .commentHead .headText {display:inline-block; font-size:14px; vertical-align:middle; margin:10px}
.subsidiary .popup-comment .commentHead .headAction {display:inline-block; font-size:14px; float:right; margin:10px; cursor:pointer;}
.subsidiary .popup-main { height:90%; overflow-y: scroll;}
.subsidiary .popup-comment .post { padding: 13px; border-bottom: 1px solid #b9b9b9;}
.subsidiary .popup-comment .post .post-info { height:110px }
.subsidiary .popup-comment .post .post-info .img { border: 1px solid; width:20%; display:inline-block; float:left; height:90px; width:90px; margin-right:10px;}
.subsidiary .popup-comment .post .post-info .post-author-time {width: 60%; display:inline-block; }
.subsidiary .popup-comment .post .post-info .post-author-time .post-author{ font-size:14px; padding-bottom: 4px}
.subsidiary .popup-comment .post .post-info .like {width:10%; display:inline-block; vertical-align:top; float:right; }
.subsidiary .popup-comment .post .post-info .like-button { background-color: #F2F2F2; text-align: center; border: 1px solid #b9b9b9; width:70px; height:20px; float:right; font-weight:bold; line-height: 20px}
.subsidiary .popup-comment .comment { margin:15px; border-bottom:1px dashed #b9b9b9; padding-bottom:15px;}
.subsidiary .popup-comment .comment .info  { min-height: 45px; height:45px; line-height:45px;}
.subsidiary .popup-comment .comment .info .author-time{ display:inline-block;}
.subsidiary .popup-comment .comment .info .img { border: 1px solid; display:inline-block; float:left; height:38px; width:38px; margin-right:10px;}
.subsidiary .popup-comment .comment .info .author{ display: inline-block; font-size:13px}
.subsidiary .popup-comment .comment .info .time { display: inline-block}
.subsidiary .popup-comment .comment .info .operation { display: inline-block; float:right;}
.subsidiary .popup-comment #comment-editor { margin:15px; min-height:280px;}
.subsidiary .popup-comment #comment-submit { margin:5px;}
.subsidiary .popup-comment #comment-submit button {float:right;}

.footer{clear:both;height: 34px;line-height: 34px; padding:0 10px;text-align: center; text-align:center; border-top:1px solid #b9b9b9;}


/* 帖子编辑器*/
#composer{border-bottom:1px solid #c2c2c2;padding:1px 0}
#composer #composer-form{display:block;margin:20px}
#composer #composer-form #c-wrap{overflow:hidden;width:50%; margin-bottom:0px;height:25px}

#composer textarea{resize:none}
#composer .c-footer .edit-tags{margin-top:4px;padding-bottom:5px;float:left;width:85%}
#composer .c-footer .edit-tags .tag{margin-bottom:5px}
#composer .c-footer .composer-controls{float:right}
#composer .choose_file_form .error-message{color:#d5443c;display:none}
#composer .choose_file_form.error-state .error-message{display:inline}
.c-title{font-size:12px;line-height:24px;float:left;color:#000;text-transform:uppercase;top:-4px;margin-right:11px}
#c-select{margin:0}
#c-select li{float:left;position:relative;display:block;margin-right:18px;height:22px;line-height:24px;overflow:visible;white-space:nowrap}
#c-select li a,#c-select li a:visited,#c-select li a:active{color:#333;display:block;background:none}
#c-select li a:hover{border-bottom:solid 1px transparent;color:#20b4d7}
#c-select li.sel a,#c-select li.sel a:visited{color:#20b4d7}
#c-select li .composer-icon{width:20px;height:20px;float:left;line-height:24px;margin-right:2px;background:url("../img/new_sprite.png") no-repeat}
#c-select li .composer-icon-label{position:relative;top:-4px;letter-spacing:1px;text-transform:uppercase}
#c-select li.c-title{width:35px;margin-right:10px}
#c-select li.b-text{width:58px}#c-select li.b-text .composer-icon{background-position:-60px 0}
#c-select li.b-text a:hover .composer-icon,#c-select li.b-text.sel .composer-icon{background-position:-60px -20px}
#c-select li.b-link{width:53px}#c-select li.b-link .composer-icon{background-position:-100px 0}
#c-select li.b-link a:hover .composer-icon,#c-select li.b-link.sel .composer-icon{background-position:-100px -20px}
#c-select li.b-file{width:44px}
#c-select li.b-file .composer-icon{background-position:-140px 0;width:14px}
#c-select li.b-file a:hover .composer-icon,#c-select li.b-file.sel .composer-icon{background-position:-140px -20px}
#c-select li.b-question{width:91px}#c-select li.b-question .composer-icon{background-position:-80px 0}
#c-select li.b-question a:hover .composer-icon,#c-select li.b-question.sel .composer-icon{background-position:-80px -20px}

.buttons ul{position:absolute;background:#fff;display:none;z-index:40;width:200px;right:0;top:50px}
.buttons li.click ul{display:block}
.buttons li li{float:none;width:200px}
.buttons.secondary li li a:link{display:block;border:none;width:200px;text-align:left;line-height:45px}
.buttons li li a span{display:inline-block;width:22px;height:22px;background-image:url(../img/sprite.png);padding:0;margin:0 10px -6px}


/*selector*/
.type-selector{background: #F5F5F5; border-bottom: solid 1px #A6A69A; height:50px;}
.type-selector #type #c-wrap .selector .c-title{ height:23px; float:left; font-weight:bold; line-height: 23px; margin: 14px 0px 10px 30px;}
.type-selector #type #c-wrap .selector .link_btn{ background: #F2F2F2; text-align: center;  width:80px; float:left; font-weight:bold;  margin: 10px 0px 10px 15px; border:1px solid #CCCCCC; padding:0px}
.type-selector #type #c-wrap .selector .link_btn:hover {box-shadow:0 1px 2px 0 rgba(0,0,0,0.19);border:1px solid #b2b2b2; }

.content .head-title{height:50px;}
.content .head-title-text{float:left; font-weight:bold; font-size:24px; line-height: 50px}
.content .res-type-head{height:30px; border-top: solid 1px #A6A69A}
.content .res-type-head-text{float:left; font-weight:bold; font-size:20px; line-height: 30px;}

/*resourse editor*/
.compose-resources{ background: #FAFAFA;}
.compose-resources .res-title{background: #F4F4F4; height:40px; margin-top: 1px; border-bottom: solid 1px #A6A69A;}
.compose-resources .res-title #title-text{font-size:18px; font-weight:bold; line-height: 20px;margin-top: 15px; margin-left: 30px; }

.compose-resources .res-required{ height:50px; border-bottom: solid 1px #A6A69A;}
.compose-resources .res-required #book-required, #link-required{ margin-left:30px; margin-top: 15px; }

.compose-resources .res-book-info{ height:60px; border-bottom: solid 1px #A6A69A; }
.compose-resources .res-book-info #title{margin-left:30px; margin-top: 15px; float:left;}
.compose-resources .res-book-info #author{margin-left:30px; margin-top: 15px; }

.compose-resources .res-link-info{ height:100px; border-bottom: solid 1px #A6A69A; }
.compose-resources .res-link-info #title-url,#title-name{margin-left:30px; margin-top: 15px; }
.compose-resources .res-link-info #url,#name{margin-left:30px;}

.compose-resources .res-desc{ height:120px; border-bottom: solid 1px #A6A69A;}
.compose-resources .res-desc #desc-title{margin-left:10px; margin-top: 15px; }
.compose-resources .res-desc #textContent{ margin-top: 10px; margin-left: 10px;resize: none; overflow-x: hidden;}

.compose-resources #c-footer{height:66px;}
.compose-resources #c-footer .res-controls{ float:right; }
.compose-resources #c-footer .res-controls .b-control{width:60px; height:26px;}
.compose-resources #c-footer .res-controls .save,.cancel,.save-modify,.cancel-modify{margin-top: 20px; margin-right:20px; float:left; }
/*resourse editor end*/

/*syllabus editor*/
.compose-syllabus{ background: #FAFAFA;}
.compose-syllabus .syllabus-header{background: #F4F4F4; height:40px; margin-top: 1px; border-bottom: solid 1px #A6A69A;}
.compose-syllabus .syllabus-header #header-text{font-size:18px; font-weight:bold; line-height: 20px;margin-top: 15px; margin-left: 30px; }

.compose-syllabus .syllabus-title{ height:60px}
.compose-syllabus .syllabus-title #title-text{margin-left:30px; margin-top: 15px; }
.compose-syllabus .syllabus-title .title-input #title{margin-left:30px; margin-top: 15px; width:500px;}

.compose-syllabus .syllabus-content{ margin-top: 30px;  border-bottom: solid 1px #A6A69A;}
.compose-syllabus .syllabus-content #content-text{margin-left:30px;}
.compose-syllabus .syllabus-content #textContent{ margin-top: 10px; margin-left: 30px; margin-bottom: 20px; resize: none; overflow-x: hidden; width:640px; height:300px;}

.compose-syllabus #c-footer{height:66px;}
.compose-syllabus #c-footer .syllabus-controls{ float:right; }
.compose-syllabus #c-footer .syllabus-controls .b-control{width:60px; height:26px;}
.compose-syllabus #c-footer .syllabus-controls .save,.cancel,.save-modify,.cancel-modify{margin-top: 20px; margin-right:20px; float:left; }
/*syllabus editor end*/

/*unit item*/
.unit-block .unit-info{ position: relative; text-align:left; height:120px; min-height:80px; border-top:3px dashed #eaeaea; padding:15px 15px}

.unit-block .unit-info .img{display: inline-block; width:20%; background-color: #808080; height: 10px; width: 10px;}

.unit-block .unit-info .book-info{display: inline-block; width:60%;  margin-top: 15px;}
.unit-block .unit-info .book-info .title{  height:20px; margin-left: 20px;}
.unit-block .unit-info .book-info .author { height:40px; margin-left: 20px;}

.unit-block .book-detail-panel{padding: 10px; height: 200px; border-top: 3px dotted #eaeaea;}
.unit-block .book-detail-panel .res-controls{display: inline-block; width:20%;  float:right; height:30px;}
.unit-block .book-detail-panel .res-desc-title{display: inline-block; width:60%;  float:left; height:30px;}
.unit-block .book-detail-panel .res-desc-content{ height: 100px;width:90%;  float:left; border: 2px double #eaeaea; overflow-y: auto;overflow-x: hidden;}
.unit-block .book-detail-panel .res-tag{ width:90%;  float:left; margin-top: 15px;}
.unit-block .book-detail-panel .res-tag .res-tag-title{ float:left; }
.unit-block .book-detail-panel .res-tag .res-tag-content{margin-left: 15px; float:left; }

.unit-block .unit-info .link-info{display: inline-block; width:60%;  margin-top: 15px;}
.unit-block .unit-info .link-info .name{ height:20px; margin-left: 20px;}
.unit-block .unit-info .link-info .description {height:40px; margin-left: 20px;}

.unit-block .link-detail-panel{padding: 10px; height: 80px; border-top: 3px dotted #eaeaea;}
.unit-block .link-detail-panel .res-controls{display: inline-block; width:20%;  float:right; height:30px;}
.unit-block .link-detail-panel .res-url-text{display: inline-block; width:20px; float:left; height:30px;}
.unit-block .link-detail-panel .res-url-content{display: inline-block; width:60%;  float:left; height:30px; margin-left: 15px;}
.unit-block .link-detail-panel .res-tag{ width:90%;  float:left; margin-top: 15px;}
.unit-block .link-detail-panel .res-tag .res-tag-title{ float:left; }
.unit-block .link-detail-panel .res-tag .res-tag-content{margin-left: 15px; float:left; }

.unit-block .unit-info .calendar-data{float:left; width:12%; }
.unit-block .unit-info .calendar-data .data{text-align: left;}

.unit-block .unit-info .calendar-info{float:left; width:60%}
.unit-block .unit-info .calendar-info .title{ display: inline-block; height:20px; margin-left: 20px;}
.unit-block .unit-info .calendar-info .since-time{ display: inline-block; height:20px;margin-left: 10px;}
.unit-block .unit-info .calendar-info .description {height:40px; margin-left: 20px; margin-top:12px;}

.unit-block .unit-info .unit-controls{float:right; width:19%;}
.unit-block .unit-info .unit-controls .calendar-controls{ margin-bottom: 10px; float:right;}
.unit-block .unit-info .unit-controls .calendar-type-tag{ width:110px; height: 22px; line-height:22px}
.unit-block .unit-info .unit-controls .assignment { background: #48B4D6; color:#FFF; text-align:center; float:right;}
.unit-block .unit-info .unit-controls .meeting { background: #acacac; color:#FFF; text-align:center; float:right;}
.unit-block .unit-info .unit-controls .exam { background: #F5AC3F; color:#FFF; text-align:center; float:right;}

.unit-block .syllabus-unit{min-height: 80px; border-top: 1px solid #b9b9b9; padding: 10px;}
.unit-block .syllabus-unit .syllabus-title{display: inline-block; line-height:24px; float:left; width: 80%; font-size:24px; font-weight: bold}
.unit-block .syllabus-unit .unit-controls{display: inline-block; float:right; width: 15%; line-height:24px;}
.unit-block .syllabus-unit .syllabus-content{width:100%; margin-top: 40px; font-size:18px; line-height:18px;}


.calendar-controls span{border:1px solid #CCCCCC; margin:0px; width:65px; height:22px; line-height:22px; display:inline-block; text-align:center; background:#F2F2F2;float:left}
.calendar-list  .week { border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; height:48px; line-height:48px;}

.unit-block a {color:#20B4D7;}

.unit-block .unit-info:hover
{
    cursor: pointer;
    background-color:#f4f4f4;
}

.compose-event .header { height: 20px; background: #F4F4F4; border-bottom:1px solid #C2C2C2; padding:5px 25px;}
.compose-event .header h3 {float:left;}
.compose-event h4{ margin: 13px 0px;}
.compose-event .header .close {float:right; font-size:14px; cursor: pointer}
.compose-event .popup-main {background: #F4F4F4; min-height:450px; border-bottom:1px solid rgb(204,204,204); padding:25px}
.compose-event .popup-main .due-date, .compose-event .popup-main .start-time, .compose-event .popup-main .end-time, .compose-event .popup-main .submison-type, .compose-event .popup-main .category, .compose-event .popup-main .grade-setting{float:left; margin-right:15px;}
.compose-event .popup-main  .clear{ clear:left}
.compose-event .popup-main .resource-operation { float:right; margin:13px; color:#48B4D6}
.compose-event .popup-footer { min-height:40px; background: #F4F4F4; padding:15px; border-bottom:1px solid #999999;}
.compose-event .popup-footer button { float:right; margin-left: 20px; height:28px; width:120px;}
.compose-event .popup-footer .cancel { background:#F2F2F2; border:1px solid #CCCCCC; color: #666666;}
.compose-event .popup-footer .cancel:hover{box-shadow:0 1px 2px 0 rgba(0,0,0,0.19); border:1px solid #B2B2B2; cursor: pointer}
.compose-event .popup-footer .save { background:#48B5D7; border:1px solid #3F9CB9; color: #FFFFFF;}
.compose-event .popup-footer .save:hover{box-shadow:0 1px 2px 0 rgba(0,0,0,0.19); border:1px solid #3B89A2; cursor: pointer}
.compose-event input {height:22px;}
.compose-event select {height: 24px;}
/*unit item end*/

/*res popup window*/
.popup-comment .popup-main .res-info{ position: relative; text-align:left; height:80px; min-height:80px; border-bottom:1px solid #b9b9b9; padding:10px 10px}

.popup-comment .popup-main .res-info .book-info{display: inline-block; width:75%; margin-left:20px; margin-top: 15px;}
.popup-comment .popup-main .res-info .book-info .title{  height:20px;}
.popup-comment .popup-main .res-info .book-info .author { height:40px;}

.popup-comment .popup-main .res-info .link-info{display: inline-block; width:75%; margin-left:20px; margin-top: 15px;}
.popup-comment .popup-main .res-info .link-info .name{ height:20px;}

.popup-comment .popup-main .res-desc{ border-bottom:1px solid #b9b9b9;}
.popup-comment .popup-main .res-desc .res-desc-title{ height:20px; margin-left:20px; margin-top: 15px;}
.popup-comment .popup-main .res-desc .res-desc-content{ height:40px; margin-left:20px; margin-top: 5px;}

.popup-comment .popup-main .res-tag {margin-left:20px; margin-top: 15px;}
.popup-comment .popup-main .res-tag .res-tag-title{ height:20px;}
.popup-comment .popup-main .res-tag .res-tag-content{ margin-top: 5px; }

.popup-comment .popup-main .res-info .res-controls{ display: inline-block;width:15%; height:25px;float:right; margin-top: 15px; margin-right: 30; }

/*res popup window end*/

.top-bar{ background-color: grey; border: 1px solid #b9b9b9; height:100px; width:100%; text-align: center;}
.top-bar .top-category{ background-color: yellowgreen; border: 1px solid #b9b9b9; height:30px; width:500px; margin-top:27px;margin-left:200px;}
.top-bar .top-category ul li{display: inline-block; font-size:24px;font-weight:bold; margin-left: 30px; float:left;}

.left-sidebar{ display:inline-block; border: 1px solid #b9b9b9;height:400px; width:15%; text-align:center;float:left;}
.center-side{ display:inline-block;  width:64%; text-align:center;}
.center-side .navigation{border: 1px solid #b9b9b9;text-align:center; height:30px;width:100%;}
.right-floatbar{ display:inline-block; border: 1px solid #b9b9b9;height:300px; width:20%; text-align:center;float:right;}


.b_addFile{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
 .filePre {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 23px;
    cursor: pointer;
    font-size:200px;
    opacity: 0;
    filter:alpha(opacity:0);
}
