{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}


{% block title %}
    <title>课程交流平台-课堂作业</title>
{% endblock %}

{% block page-css %}
    <link href="{{ STATIC_URL }}css/g_instructure.css" type="text/css" rel="stylesheet" media="all" >
    <link href="{{ STATIC_URL }}css/tiny_like_ck_with_external_tools.css" type="text/css" rel="stylesheet" media="all" >
    <link href="{{ STATIC_URL }}js/canvas/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}js/canvas/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/content.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}js/canvas/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block navigator %}
	<ul>
		<li><a href="/discussion">问题讨论</a></li>
		<li><a href="/calendar">日程表</a></li>
		<li><a href="/resources">资源</a></li>
		<li><a href="/syllabus">教学大纲</a></li>
		<li><a href="#">课堂成员</a></li>
		<li class="current"><a href="/assignment">课程作业</a></li>
	</ul>
{% endblock navigator %}

{% block content %}
    <div class="content2">
        <div class="header">
            <h2>已布置的作业</h2>
        </div>

        <div class="submission-grid">
            <div class="labels">
                <div class="name">标题</div>
                <div class="category">类别</div>
                <div class="score">评分</div>
                <div class="deadline">截止日期</div>
                <div class="submission-count">已提交</div>
            </div>
            <div class="assignment_list">
            </div>
        </div>
    </div>
{% endblock %}

{% block right-side %}
    <div class="subsidiary2">
        <div class="module">
            <button class="operation addSubmission">+ 添加新作业</button>
        </div>
    </div>
{% endblock %}

{% block page-js %}
    <script>
        INST = {};
        ENV = {};
        require = {
            translate: false,
            baseUrl: '{{ STATIC_URL }}js/canvas',
            paths: {
                jquery: 'vendor/jquery-1.6.4',
                jqueryui: 'vendor/jqueryui'
            },
            waitSeconds: 15
        };
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/require.js"></script>

    <script>
        ASSIGNMENT_API = "{% url api_dispatch_list api_name="v1" resource_name="assignment" %}";
        SCHOOL = "{{ request.session.school.0 }}";
        COURSE = "{{ request.session.course.0 }}";
        PARTICIPANT = "{{ request.session.participant.0 }}";
        {% if data %}
            app = {loaded: true};
        {% endif %}
    </script>

    <script type="text/html" id="AssignmentTemplate">
        {% straight_include "assignment/assignmentAbsTemplate.mustache" %}
    </script>

    <script type="text/html" id="AssignmentPopup">
        {% straight_include "assignment/newAssignmentPopup.mustache" %}
    </script>

    <script src="{{ STATIC_URL }}js/assignment_list.js"></script>
{% endblock %}

{% block popup %}
    <div class="popup"></div>
{% endblock %}