<div class="header">
        <h3>新作业</h3>
        <div class="close">X</div>
    </div>

    <div class="popup-main">

        <h4>标题*</h4>
        <input name="title" type="text" size="60"/>

        <div>
            <div class="due-date">
                <h4>截止日期*</h4>
                <input type="text" size="14" />
                <input type="text" size="14" />
            </div>
            <div class="submison-type">
                <h4>提交类型*</h4>
                <select>
                    <option>文件</option>
                    <option>链接</option>
                    <option>课堂提交</option>
                    <option>不用提交</option>
                </select>
            </div>
            <div class="category">
                <h4>作业性质*</h4>
                <select name="category">
                    <option value="not graded">自测（不评分）</option>
                    <option value="general">普通作业</option>
                    <option value="exam">考试</option>
                    <option value="quizzes">小测验</option>
                </select>
            </div>
            <div class="grade-setting">
                <h4>评分设置</h4>
                <div>
                    X/<input type="text" name="max-grade" size="3" />
                </div>
            </div>
            <div class="clear">
            </div>
        </div>

        <h4>作业说明</h4>
        <textarea id="description" cols="80" rows="8"></textarea>

        <div class="resource">
            <h4 style="float:left">相关资源</h4>
            <div class="resource-operation">添加资源 +</div>
            <div class="clear" ></div>
        </div>

        <h4>事件设置 </h4>
			<span style="margin-right:20px;">
				<input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">立即发布</label>
			</span>
        <input type="radio" style="vertical-align:middle"/> <label style="vertical-align:middle">定时发布：</label>
        <input type="text" size="14"/>
        <input type="text" size="14"/>

    </div>

    <div class="popup-footer">
        <input type="checkbox" style="vertical-align:middle"/> <label style="vertical-align:middle">通知学生</label>

        <button class="save">保存</button>
        <button class="cancel">取消</button>
    </div>