{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}


{% block title %}
    <title>课程交流平台-作业提交情况</title>
{% endblock %}

{% block navigator %}
	<ul>
		<li><a href="/discussion">问题讨论</a></li>
		<li><a href="/calendar">日程表</a></li>
		<li><a href="/resources">资源</a></li>
		<li><a href="/syllabus">教学大纲</a></li>
		<li><a href="#">课堂成员</a></li>
		<li class="current"><a href="/assignment">课程作业</a></li>
	</ul>
{% endblock navigator %}

{% block content %}
    <div class="content2">
        <div class="header">
            <h2><span style="color:#48B4D6">作业提交 </span><span>/ {{ assignment.title }}</span></h2>
        </div>

        <div class="submission-grid">
            <div class="labels">
                <div class="student" style="color:#000">学生</div>
                <div class="point">分数</div>
                <div class="note">点评</div>
                <div class="submission-time">提交时间</div>
                <div class="submission-content">提交内容</div>
            </div>
            <div class="row-no-hover">
                <div class="student">
                    <a href="#">
                        <div class="portrait"></div>
                        <span style="line-height:0px;color:#48B4D6">李雷</span>
                    </a>
                </div>
                <div class="point">
                    <input class="score" type="text" size="1" value="">
                    <span class="out-of">/100</span>
                </div>
                <div class="note">点评</div>
                <div class="submission-time">10/18/2011 at 4:51am</div>
                <div class="submission-content">
                    <div style="display:none">未提交</div>
                    <div style="">
                        <a href="#" style="color:#48B4D6">下载</a> |
                        <a href="#" style="color:#48B4D6">历史提交</a>
                        <span>(1)</span>
                    </div>
                </div>
            </div>

            <div class="row-no-hover">
                <div class="student">
                    <a href="#">
                        <div class="portrait"></div>
                        <span style="line-height:0px;color:#48B4D6">韩梅梅</span>
                    </a>
                </div>
                <div class="point">
                    <input class="score" type="text" size="1" value="">
                    <span class="out-of">/100</span>
                </div>
                <div class="note">点评</div>
                <div class="submission-time">10/18/2011 at 4:51am</div>
                <div class="submission-content">
                    <div style="display:none">未提交</div>
                    <div style="">
                        <a href="#" style="color:#48B4D6">下载</a> |
                        <a href="#" style="color:#48B4D6">历史提交</a>
                        <span>(1)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block right-side %}
    <div class="subsidiary2">
        <div class="module">
            <h4 style="font-style:italic; text-align:left; margin-bottom: 5px;">公布成绩后，成绩在系统中才对学生可见</h4>
            <button class="operation public">公布成绩</button>
            <button class="operation edit-assignment">修改作业要求</button>
            <button class="operation downloadall">下载全部提交</button>
            <button class="operation add-assignment">+ 添加新作业</button>
        </div>
    </div>
{% endblock %}