
<div class="unit-info">
    <div class="img"></div>
    <div class="book-info">
        <div class="title">{{book_title}}</div>
        <div class="author">by {{book_author}}</div>
    </div>
    <div class="unit-controls"><a href="#" class='delete-book'>删除</a> <a href="#" class='edit-book'>编辑</a></div>
</div>

<div class="book-detail-panel" style="display:none">
	<div class="res-controls">
		<a href="#" class='viewon-btn'>View on</a>
		<a href="#" class='book-slideup'>收起</a>
	</div>

	<div class="res-desc-title">描述:</div>
	<div class="res-desc-content"></div>

	<div class="res-tag">
		<div class="res-tag-title">标签:</div>
		<div class="res-tag-content">
			<a href="#">XXX</a>
		</div>
	</div>
</div>

<div class="compose-resources edit-book-panel" style="display:none">
	<div class="res-title">
		<span id="title-text">编辑书籍</span>
	</div>
	<div class="res-required">
		<input type="radio" id="book-required" value="required" name="book-required"><label for="required">必需的</label>
		<input type="radio" id="book-supplemental" value="supplemental" name="book-required"><label for="supplemental">补充的</label>
	</div>
	<div class="res-book-info">
		<input type="text" id="title">
		<input type="text" id="author">
	</div>
	<div class="res-desc">
		<div id="desc-title">描述</div>
		<textarea cols="83" rows="5" id="textContent" name="textContent"></textarea>
	</div>

    <!-- Composer footer -->
    <div id="c-footer">
			<div class="res-controls">
				<button class="save-modify b-control b-submit">保存</button>
				<button class="cancel-modify b-control b-cancel">取消</button>
			</div>
	</div>
</div>