<div class="commentHead">
	<div class="headAction">X</div>
</div>
<div class="popup-main">
	<div>
		<div class="res-info">
            <div class="img"></div>
            <div class="book-info">
                <div class="title">{{book_title}}</div>
                <div class="author">by {{book_author}}</div>
            </div>
            <div class="res-controls">
            	<a href="#" class='viewon-btn'>View on</a>
            </div>
        </div>

		<div class="res-desc">
			<div class="res-desc-title">描述</div>
			<div class="res-desc-content">{{ description }}</div>
		</div>
		<div class="res-tag">
			<div class="res-tag-title">标签</div>
			<div class="res-tag-content">
				<a href="#">XXX</a>
			</div>
		</div>
	</div>
</div>