
<div class="unit-info">
    <div class="img"></div>
    <div class="link-info">
        <div class="name">
        	<a href="{{ link_url }}" target="_blank">{{ link_name }}</a>
        </div>
        <div class="description"></div>
    </div>
    <div class="unit-controls"><a href="#" class='delete-link'>删除</a> <a href="#" class='edit-link'>编辑</a></div>
</div>

<div class="link-detail-panel" style="display:none">
	<div class="res-controls">
		<a href="{{ link_url }}" target="_blank" class='viewon-btn'>浏览</a>
		<a href="#" class='link-slideup'>收起</a>
	</div>

	<div class="res-url-text">url:</div>
	<div class="res-url-content">{{ link_url }}</div>

	<div class="res-tag">
		<div class="res-tag-title">标签:</div>
		<div class="res-tag-content">
			<a href="#">XXX</a>
		</div>
	</div>
</div>

<div class="compose-resources edit-link-panel" style="display:none">
	<div class="res-title">
		<span id="title-text">编辑链接</span>
	</div>
	<div class="res-required">
		<input type="radio" id="link-required" value="required" name="link-required"><label for="required">必需的</label>
		<input type="radio" id="link-supplemental" value="supplemental" name="link-required"><label for="supplemental">补充的</label>
	</div>
	<div class="res-link-info">
		<div id="title-url">路径（url）</div>
		<input type="text" id="url">

		<div id="title-name">名称</div>
		<input type="text" id="name">
	</div>
	<div class="res-desc">
		<div id="desc-title">描述</div>
		<textarea cols="83" rows="5" id="textContent" name="textContent"></textarea>
	</div>

    <!-- Composer footer -->
    <div id="c-footer">
            <div class="res-controls">
                <button class="save-modify b-control b-submit">保存</button>
                <button class="cancel-modify b-control b-cancel">取消</button>
            </div>
    </div>
</div>