<div class="type-selector">
	<div id="type">
		<div id="c-wrap">
			<ul id="c-select" class="selector">
				<li class="c-title">添加:</li>

				<li class="file-opt link_btn">
					<a href="#" res-type="link">
						<span class="res-icon-label">文件</span>
					</a>
				</li>
				<li class="link-opt link_btn">
					<a href="#" res-type="file">
						<span class="res-icon-label">链接</span>
					</a>
				</li>
				<li class="book-opt link_btn">
					<a href="#" res-type="book">
						<span class="res-icon-label">书籍</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="compose-resources new-book-panel" style="display:none">
	<div class="res-title">
		<span id="title-text">新书籍</span>
	</div>
	<div class="res-required">
		<input type="radio" id="book-required" value="required" name="book-required" checked="checked"><label for="required">必需的</label>
		<input type="radio" id="book-supplemental" value="supplemental" name="book-required"><label for="supplemental">补充的</label>
	</div>
	<div class="res-book-info">
		<input type="text" id="title" value="书名">
		<input type="text" id="author" value="作者">
	</div>
	<div class="res-desc">
		<div id="desc-title">描述</div>
		<textarea cols="83" rows="5" id="textContent" name="textContent"></textarea>
	</div>

    <!-- Composer footer -->
    <div id="c-footer">
            <div class="res-controls">
                <button class="save b-control">保存</button>
                <button class="cancel b-control">取消</button>
            </div>
    </div>
</div>

<div class="compose-resources new-link-panel" style="display:none">
	<div class="res-title">
		<span id="title-text">新链接</span>
	</div>
	<div class="res-required">
		<input type="radio" id="link-required" value="required" name="link-required" checked="checked"><label for="required">必需的</label>
		<input type="radio" id="link-supplemental" value="supplemental" name="link-required"><label for="supplemental">补充的</label>
	</div>
	<div class="res-link-info">
		<div id="title-url">URL</div>
		<input type="text" id="url">

		<div id="title-name">名称</div>
		<input type="text" id="name">
	</div>
	<div class="res-desc">
		<div id="desc-title">描述</div>
		<textarea cols="83" rows="5" id="textContent" name="textContent"></textarea>
	</div>


    <!-- Composer footer -->
    <div id="c-footer">
            <div class="res-controls">
                <button class="save b-control b-submit ">保存</button>
                <button class="cancel b-control b-cancel">取消</button>
            </div>
    </div>
</div>