{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}


{% block title %}
	<title>课程交流平台-资源</title>
{% endblock %}

{% block navigator %}
	<ul>
		<li><a href="/discussion">问题讨论</a></li>
		<li><a href="/calendar">日程表</a></li>
		<li class="current"><a href="/resources">资源</a></li>
		<li><a href="/syllabus">教学大纲</a></li>
		<li><a href="#">课堂成员</a></li>
		<li><a href="/assignment">课程作业</a></li>
	</ul>
{% endblock navigator %}

{% block content %}
	<div class="content">
		<div class= "add_operation"></div>
		<div id="composer1"></div>
		<div class="head-title" style="padding: 0px;">
			<div class="head-title-text"  style="padding: 0px; margin: 0px;">资源</div>
		</div>

		<div class="res-type-head">
			<div class="res-type-head-text">链接</div>
		</div>
		<div class="reslink-list"></div>

		<div class="res-type-head">
			<div class="res-type-head-text">书籍</div>
		</div>
		<div class="resbook-list"></div>
	</div>

<!--	<div class="subsidiary">
		<div class="popup-comment"></div>
	</div>-->
{% endblock content %}


{% block page-js %}
	<script>
		RES_BOOK_API = "{% url api_dispatch_list api_name="v1" resource_name="resbook" %}";
		RES_LINK_API = "{% url api_dispatch_list api_name="v1" resource_name="reslink" %}";
		RES_FILE_API = "{% url api_dispatch_list api_name="v1" resource_name="resfile" %}";

		SCHOOL = "{{ request.session.school.0 }}";
		COURSE = "{{ request.session.course.0 }}";
		PARTICIPANT = "{{ request.session.participant.0 }}";
		{% if data %}
			app = {loaded: true};
		{% endif %}
	</script>

	<script type="text/html" id="ResEditor">
		{% straight_include "resources/ResEditor.mustache" %}
	</script>

	<script type="text/html" id="BookUnit">
		{% straight_include "resources/BookUnit.mustache" %}
	</script>

	<script type="text/html" id="LinkUnit">
		{% straight_include "resources/LinkUnit.mustache" %}
	</script>

	<script type="text/html" id="BookPopup">
		{% straight_include "resources/BookPopup.mustache" %}
	</script>

	<script type="text/html" id="LinkPopup">
		{% straight_include "resources/LinkPopup.mustache" %}
	</script>

	<script src="{{ STATIC_URL }}js/course_res.js"></script>

{% endblock page-js%}
