{% load mustache %}
{% load straight_include %}

<!doctype html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% block title %}
    <title>课程交流平台</title>
    {% endblock %}

    {% block base-css %}
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block page-css %}
    {% endblock %}

    {% block base-js %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/backbone-relational.js"></script>
    <script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
    <script src="{{ STATIC_URL }}js/ICanHaz.js"></script>
    <script src="{{ STATIC_URL }}js/paginated_collection.js"></script>
	<script src="{{ STATIC_URL }}js/common.js"></script>
    {% endblock %}

</head>
<body>
	<div class="float-top-bar">
	</div>
	<div class="ftb-content">
		<div class="info">您好，<a href="#">bisonchen</a> | <a  href="#">退出</a></div>
	</div>

	<div class="wrap">

		<div class="header">
            {% block header %}
				<h1>操作系统</h1>
            {% endblock %}
        </div>

		<div class="nav">
            {% block navigator %}
			<ul>
				<li><a href="/discussion">问题讨论</a></li>
                <li><a href="/calendar">日程表</a></li>
				<li><a href="/resources">资源</a></li>
				<li><a href="/syllabus">教学大纲</a></li>
				<li><a href="#">课堂成员</a></li>
				<li><a href="/assignment">课程作业</a></li>
			</ul>
            {% endblock navigator %}
		</div>

		
		<div class="main">
            {% block content %}
            {% endblock %}

            {% block right-side %}
            {% endblock %}
		</div>

		<div class="footer">
            {% block footer %}
			    Everants. Inc.
            {% endblock %}
		</div>
	</div>

    {% block popup %}
	{% endblock %}

    {% block page-js %}
    {% endblock %}
</body>
</html>