<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<head>
	<title>ULIP</title>
	{% load i18n %}
	{% block header %} {% endblock header %}

	<link rel="stylesheet" href="/static/css/style.css"/>

</head>

<body>
{% block top-bar %}
	<div class="top-bar">
		{% block top-logo %}
			<div class="top-logo"><h1>Logo Position</h1></div>
		{% endblock top-logo %}

		{% block user-bar %}
			<div class="user-bar"><h4>User Bar</h4></div>
		{% endblock user-bar %}

		{% block top-category %}
			<div class="top-category">
				<ul>
					<li><a href="../stream">讨论</a></li>
					<li><a href="../calendar">日历</a></li>
					<li><a href="../resources">资源</a></li>
					<li><a href="../syllabus">教学大纲</a></li>
				</ul>
			</div>
		{% endblock top-category %}
	</div>
{% endblock top-bar %}

{% block content %}
{% endblock content %}

{% block footer %}
	<div class="footer">XXX</div>
{% endblock footer %}
</body>
</html>