{% extends "course_base.html" %}

{% block content %}
	{% block left-sidebar %}
		<div class="left-sidebar">left-sidebar</div>
	{% endblock left-sidebar %}

	{% block main-content %}
		<div class="center-side">
			{% block navigation %}
				<div class="navigation">navigation</div>
			{% endblock navigation %}
			{% block sub-content %}
				<div class="sub-content">sub-content</div>
			{% endblock sub-content %}
		</div>
	{% endblock main-content %}

	{% block right-sidebar %}
		{% block right-floatbar %}
			<div class="right-floatbar">right-floatbar</div>
		{% endblock right-floatbar %}
	{% endblock right-sidebar %}
{% endblock content %}